<a href="https://colab.research.google.com/github/dmish10/Scaler_Homework/blob/master/Controls_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
bool(0)

False

In [ ]:
bool(0.0)

False

In [ ]:
bool(-0.000)

False

In [ ]:
bool("this is you!")

True

In [ ]:
bool("")

False

In [ ]:
actual_pass= "harami123"

In [ ]:
my_input= input()
print(my_input== actual_pass)

harami123
True

In [ ]:
print(4.0==4)

True

In [ ]:
print(type(4.0)==type(4))

False

In [ ]:
(False or "")

''

In [ ]:
print("tring tring\t spe")

tring tring	 spe

In [ ]:
print("A","B", sep="\t")

A	B

In [ ]:
print("0")
if 56<60:
  print("1")
  print("2")
print('4')

0
1
2
4

In [ ]:
C= 50
A= int(input())
B= A**3
if B>C:
  print("Maasive number")
else:
  print("small")
print ("done")

3
small
done

In [ ]:
Password= input()
Verify_user= input()
if Password==Verify_user:
  print("matched")
else:
  print("Missmatch")
  print("check again")

drop
drop
matched

In [ ]:
user_amt= int(input())
if user_amt%200==0 or user_amt%500==0:
  print("Dispatch Cash")
else:
  print("not dispatchable")

1200
Dispatch Cash

In [ ]:
time=int(input())

if time>9 and time<12:
  print("gm")
elif time>12 and time<17:
  print ("noon")
elif time>17 and time<24:
  print ("night")
else:
  print("gth")

25
gth

In [ ]:
N= int(input())
if N>=0:
  print(N+" is Positive no.")
elif N==0:
  print("zeroo")
else:
  print("negative")

-4
negative

In [ ]:
N= int(input()) 
if N >0 and N<=9:
  if N ** 5 % 50 + 20 - 6 >15:
    print("Black")
  else:
    print("white")
else:
  print("invalid no")

-9
invalid no

In [ ]:
S= input()
if S.lower()=="python":
  print("great")
else:
  print("Bad")

pythoN
great

In [ ]:
Feedback= input()
if not Feedback:
  print("please provide feedback")
else:
  print("thanks for feedback")
  
  if Feedback.lower() == "super" or Feedback.lower() == "great":
    print("thanks so much")

SuPeR
thanks for feedback
thanks so much

In [ ]:
feedback= input()

if feedback:
  print("thanks")
else:
  print("please share")

dhggf
thanks

In [ ]:
x=2
if x > 2:
    x = x*2
if x > 4:
    x = 0
print(x)

2

In [ ]:
print(1=="1")

False

In [ ]:
from numpy import linalg
a = np.array([2,3,4,1,5]) 
linalg.norm(a, 1)

NameError: ignored

In [ ]:
from numpy import array
from numpy.linalg import norm
arr = array([2, 3, 4, 1, 5])
print(arr)
norm_l2 = norm(arr)
print(norm_l2)

[2 3 4 1 5]
7.416198487095663

In [ ]:
a= 5
b= 10

def func():
  b= 15
  print(a)
  print(b)
print(a)
func()
print(b)

5
5
15
10

In [ ]:
data ="learning data science"
st =""
for i in range(len(data)):
  st= data[i]+st
print(st)

ecneics atad gninrael

In [ ]:
arr = [2,4,6,8,10]
for i in range(len(arr)):
  for j in arr:
    if arr[i]== j:
      print (i,j)

0 2
1 4
2 6
3 8
4 10

In [ ]:
name= input()
if name:
  print('thank you for submission')
else:
  print('no submission')

no submission

In [ ]:
name= input()
if name!= '':
  print('thank you for submission')
else:
  print('no submission')

nom
thank you for submission

In [ ]:
name= ''
while name!= 'eliza':
  print ('your name is = ')
  name= input()
print('thanks!')

your name is =
eli
your name is =
elu
your name is =
eliza
thanks!

In [ ]:
name= ''
while True:
  print('you name is = ')
  name= input()
  if name=='eliza':
    break
print('thanks!')

you name is =
el
you name is =
elisa
you name is =
eliza
thanks!

In [ ]:
print("you should know that ")
for i in range(5):
  print("my name is jimmy "+str(i))

you should know that
my name is jimmy 0
my name is jimmy 1
my name is jimmy 2
my name is jimmy 3
my name is jimmy 4

In [ ]:
c=0
for i in range(101):
  c+= i
print(c)

5050

In [ ]:
print("new function that needs to be known")
for i in range(12,-3,-2):
  print('my name is = '+str(i))

new function that needs to be known
my name is = 12
my name is = 10
my name is = 8
my name is = 6
my name is = 4
my name is = 2
my name is = 0
my name is = -2

In [ ]:
N= int(input())
if N%3==0 and N%5==0:
  print('fizzbuzz')
elif N%3==0:
  print('fizz')
elif N%5==0:
  print('buzz')
else:
  print('')

15
fizzbuzz

In [ ]:
eng= int(input())
mat= int(input())
sci =int(input())


if((sci >90) or (eng>75 and sci >75 and mat>75)):
  print('science')
elif((eng>=60 and sci >=60 and mat>=60) ):
  print ('commerce')
else:
  print('humanities')

90
56
98
science

In [ ]:

# Build a meter system for an auto. Take into two inputs. 
# Kilometers Travelled and Stall Time (in minutes). Rate List -
# - First 10 kms - Rs 10 per Km
# - Next 40 kms - Rs 9 per Km
# - Next 100 kms - Rs 8 per Km
# - Any leftover km count - Rs. 6 per Km

# - Rs 5 extra for every minute of Stall Time.

In [ ]:
dist =int(input())
stall=int(input())

if(dist<=10 and stall>0):
  print("Rate is = "+str((dist*10)+(stall*5)))
elif ((dist<=40 and dist>10) and stall>0):
  print("Rate is = "+str((dist*9)+(stall*5)))
elif ((dist<=100 and dist>40) and stall>0):
  print("Rate is = "+str((dist*8)+(stall*5)))
else:
  print("Rate is = "+str((dist*6)+(stall*5)))

40
2
Rate is = 370

In [ ]:
# 2. Generate electricity bill using the following rate card.
# Take units consumed as input -
# - If < 100 units -> Free
# - If >= 100 units and < 200 units -> Rs 2 per unit
# - If >= 200 units -> Rs 5 per unit

In [ ]:
units= int(input())

if(units<100):
  print('free')
elif units>=100 and units<200:
  print('rate is= '+str(units*2))
elif units>=200:
  print('rate is= '+str(units*5))
else:
  print('')

450
rate is= 2250

In [ ]:
A=float(input())
if A>=50 and A<=250:
  if(A<150):
    print('dwarf')
  elif A>=150 and A<165:
    print('avergae')
  elif A>=165 and A<195:
    print('taller')
  else:
    print('abnormal')
else:
  print('00')

215.5
abnormal

In [ ]:
import math
A= int(input())
GS=0
if A<=50000:
  if(A<=10000):
    GS=GS+ (float(A)+ 0.2*float(A)+ 0.8*float(A))
    print(math.floor(GS))
  elif(A>=10001 and A<=20000):
    GS= GS+ (float(A)+ 0.25*float(A)+ 0.9*float(A))
    print(math.floor(GS))
  else:
    GS= GS+ (float(A)+ 0.30*float(A)+ 0.95*float(A))
    print(math.floor(GS))
else:
  print('')

22000
49500

In [ ]:

fav_lang = input()

if fav_lang == 'Python' or fav_lang == 'Java':
    print("Nice choice!")
elif fav_lang == 'Golang':
    print("	You're a cool person I see...")
elif fav_lang == 'Javascript':
    print("Okay so you are our web developer!")
elif fav_lang == 'C++':
    print("Too old school...")
else:
    print("I don't know that language")

KeyboardInterrupt: ignored

In [ ]:
N= int(input())

if N>=10 and N<=20:
    print("Enter M=" )
    M= int(input())
    print("Sum= "+str(N+M))
    if (N+M)>= 100:
        print("\n That is a large sum!")
else:
    print(-1)

15
Enter M=
90
Sum= 105

 That is a large sum!

In [ ]:
if False:                                       #1
    print("Artificial Intelligence")
elif True:                                      #2
    print("Machine Learning")
elif True:                                      #3
    print("Data Science")
else:                                           #4
    print("Deep Learning")

Machine Learning

In [ ]:
A= int(input())

    
if A<1400 :
  rating='newbie'
  if A%2==0:
    print(rating.upper())
  else:
    print(rating)

elif A>=1400 and A<1600:
    rating='pupil'
    if A%2==0:
      print(rating.upper())
    else:
      print(rating)

elif A>=1600 and A<1900:
    rating='expert'
    if A%2==0:
      print(rating.upper())
    else:
      print(rating)

elif A>=1900 and A<2100:
    rating='candidate master'
    if A%2==0:
      print(rating.upper())
    else:
      print(rating)

else:
    rating='grand master'
    if A%2==0:
      print(rating.upper())
    else:
      print(rating)

2009
candidate master

In [ ]:
A= int(input())
rating=''
if A%2==0:
  if A<1400 :
    rating='newbie'
  elif A>=1400 and A<1600:
    rating='pupil'
  elif A>=1600 and A<1900:
    rating='expert'
  elif A>=1900 and A<2100:
    rating='candidate master'
  else:
    rating='grand master'
  print(rating.upper())
else:
  if A<1400 :
    rating='newbie'
  elif A>=1400 and A<1600:
    rating='pupil'
  elif A>=1600 and A<1900:
    rating='expert'
  elif A>=1900 and A<2100:
    rating='candidate master'
  else:
    rating='grand master'
  print(rating)

2100
GRAND MASTER

In [ ]:
# You are given an integer A.
# You have to tell how many days are there in the month denoted by A in a non-leap year.
# Output Format
# Print a single integer denoting the number of days on a single line.
# Example Input
# Input 1:
#  1 
# Input 2:
#  11 
# Example Output
# Output 1:
# 31 
# Output 2:
# 30 

A= int(input())


if A>=1 and A<=7:
    if A%2!=0:
        print(31)
    elif A==2:
        print(28)
    else:
        print(30)
elif A>=8 and A<=12:
    if A%2==0:
        print(31)
    else:
        print(30)
else:
    print('')

11
30

In [ ]:
print(sum(range(0, 7)))

21

In [ ]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [ ]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

Salary: 12000
Salary: 8000

In [ ]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [ ]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [ ]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [ ]:
str = "pynative"
print (str[1:3])

yn

In [ ]:
var= "James Bond"
print(var[2::-1])

maJ

In [ ]:
for x in range(0.5, 5.5, 0.5):
  print(x)

TypeError: ignored

In [ ]:
str1 = "first" 
id(str1) 
str1 = str1+ " Two" 
id(str1)

139628089050288

In [ ]:
print(type(0xFF))

<class 'int'>

In [ ]:
print(type({}) is set)

False

In [ ]:
str1 = str(Jessa)
print(str1)

NameError: ignored

In [ ]:
str1 = 'str1'
str1 = "str1"
str1 = '''str'''
print(str1)

str

In [ ]:
print(type([]) is list)

True

In [ ]:
aTuple = (1, 'Jhon', 1+3j)
print(type(aTuple[2:3]))

<class 'tuple'>

In [ ]:
x = 75
def myfunc(x):
    x = x + 1
    print(x)

myfunc(x)
print(x)

76
75

In [ ]:
print(bool(0))
print(bool(3.14159))
print(bool(-3))
print(bool(1.0+1j))

False
True
True
True

In [ ]:
x = 50
def fun1():
    x = 25
    print(x)
    
fun1()
# print(x)

25

In [ ]:
print('Ault\'Kelly')

Ault'Kelly

In [ ]:
x = 100
y = 50
print(x and y)

50

In [ ]:
a = [10, 20]
b = a
b += [30, 40]
print(a)
# print(b)

[10, 20, 30, 40]

In [ ]:
y = 10
x = (y += 2)
print(x)

SyntaxError: ignored

In [ ]:
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))

False True True True

In [ ]:
print(2%6)

2

In [ ]:
x = 10
y = 50
if x ** 2 > 100 and y < 100:
    print(x, y)

10 50

In [ ]:
a = 4
b = 11
print(a | b)
print(a >> 2)

15
1

In [ ]:
n=0

while n<=5:
  print(n,end=" ")
  n+= 1

0 1 2 3 4 5

In [ ]:
n=-5 
while n<=25:
  print(n,end=" ")
  n+= 1

-5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [ ]:
n=int(input())
i=1
while i<=n:
  print(i, end= " ")
  i+=2

7
1 3 5 7

In [ ]:
n=int(input())

if n>1:
  i=1
  while i<=n:
    print(i, end= " ")
    i+=2
else:
  print("number is smaller than 1")

-1
number is smaller than 1

In [ ]:
start=int(input())
end= int(input())

while start<=end:
  print(start, end=" ")
  start+=3

1
21
1 4 7 10 13 16 19

In [ ]:
start=int(input())
end= int(input())
while start<=end:
  
  if start%2==0:
    print(start, end=" ")
  start+=1

3
9
4 6 8

In [ ]:
start=int(input())
end= int(input())

if start%2==0:
  i=start
else:
  i=start+1
while i<end:
  loop_ct=0
  print(i,end=" ")
  i+=2
print("it ran for "+str(loop_ct))

1
21
2 4 6 8 10 12 14 16 18 20 it ran for 0

In [ ]:
i =1
while i<=6:
    print("bowling ball "+ str(i))
    i+=1

bowling ball 1
bowling ball 2
bowling ball 3
bowling ball 4
bowling ball 5
bowling ball 6

In [ ]:
n= int(input())

i=1
while i<=10:
  
  print(n*i, end=" ")
  i+=1

6
6 12 18 24 30 36 42 48 54 60

In [ ]:
passkey=5
i=1
while i<=99:
  loop=1
  if i== passkey:
    print("password found",i)
    break
  else:
    print("still trying",i)
  i+=1
print("ran for",loop,"time(s)")

still trying 1
still trying 2
still trying 3
still trying 4
password found 5
ran for 1 time(s)

In [ ]:
n= int(input("this is the count of test cases = "))
j=1
while j<=n:
  num= int(input("\ninput num= "))
  i=1
  while i<=10:
    print(num*i, end=" ")
    i+=1
  j+=1

this is the count of test cases = 2

input num= 2
2 4 6 8 10 12 14 16 18 20
input num= 3
3 6 9 12 15 18 21 24 27 30

In [ ]:
A= int(input())

i=1
while i<=A:
    print(i**2)
    i+=1

4
1
4
9
16

In [ ]:
N= int(input())

i=1
while i<=N:
    if i%2==0:
      print(i, end=" ")
    i+=1

4
2 4

In [ ]:
i=2
while (i<=2*n):
  if i%2 ==0:
    print(i)
  i+=1

2
4

In [ ]:
N= int(input())

j=1
while j<=N:
  loop=1
  i=1
  while i<=N:
      print(i*4, end=" ")
      i+=1
  j+=1 
  break
  loop+=1 
print("\nloop is =", loop)

22
4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80 84 88
loop is = 1

In [ ]:
A= int(input())

i=1
while i<=A:
    if (i**2)<A:
      print(i**2, end= " ")
    i+=1

20
1 4 9 16

In [ ]:
N= int(input())

j=1
while j<=N:
  i=1
  while i<=N:
    if i*4<N:
      print(i*4, end=" ")
      i+=1
  j+=1

20
4 8 12 16

KeyboardInterrupt: ignored

In [ ]:
N= int(input())

j=1
while j<=N:
  i=1
  while i<=N:
    if i*4<N:
      print(i*4, end=" ")
      i+=1
  j+=1
  break

22
4 8 12 16 20

KeyboardInterrupt: ignored

In [ ]:
N= int(input())

# j=1
# while j<=N:
i=1
while i<=N:
  if i*4<N:
    print(i*4, end=" ")
    i+=1
#   j+=1
#   break

4 8 12 16 20

In [ ]:
num=16
base=4
cnt=0
while(num>1):
  num/=base
  cnt+=1
print(cnt)

2

In [ ]:
n= int(input())

i=0
while n>0:
  n= n//10
  i+=1
print("The number of digits in the number are:",i)

98765
The number of digits in the number are: 5

In [ ]:
T= int(input())
i=0
while i<=T:
    n=int(input())
    c=0
    if n==0:
        c+=1
        print(c)
    else:
        while n>0:
            c+=1
            n=n//10
            
        print(c)
        i+=1

1
10101
1

KeyboardInterrupt: ignored

In [ ]:
"""first 10 even numbers"""
i=1
while i<=10:
  if i%2 !=0:
    print(i)
  i+=1

1
3
5
7
9

In [ ]:
"""first 10 integers and their squares"""
i=1
while i<=10:
  print(i**2, "square of ", i)
  i+=1

1 square of  1
4 square of  2
9 square of  3
16 square of  4
25 square of  5
36 square of  6
49 square of  7
64 square of  8
81 square of  9
100 square of  10

In [ ]:
"""write for loop statement to print from 10 to 300"""
# for i in range(10,301,10):
#   print (i)

i=10
while i<=300:
  print(i,end=",")
  i+=10

10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230,240,250,260,270,280,290,300,

In [ ]:
i=105
while i>=7:
  print(i, end=",")
  i-=7

105,98,91,84,77,70,63,56,49,42,35,28,21,14,7,

In [ ]:
"""natural numbers in descending order"""
i=10
while i>0:
  print(i,end=" ")
  i-=1

10 9 8 7 6 5 4 3 2 1

In [ ]:
"""sum of first 10 natural numbers"""

i=10
sum=0
while i>=1:
  
  sum= sum+i
  i-=1
  
  print (sum , end=",")

10,19,27,34,40,45,49,52,54,55,

In [ ]:
"""sum of first 10 even numbers"""
i=2
sum=0
while i<=20:
  sum=sum+i
  i+=2
  print(sum,end=",")

2,6,12,20,30,42,56,72,90,110,

In [ ]:
T= int(input())
i=1
while i<=10:
  print(T,"*", i,"=", T*i, end=", ") 
  i+=1

3
3 * 1 = 3, 3 * 2 = 6, 3 * 3 = 9, 3 * 4 = 12, 3 * 5 = 15, 3 * 6 = 18, 3 * 7 = 21, 3 * 8 = 24, 3 * 9 = 27, 3 * 10 = 30,

In [ ]:
"""print all the even numbers that fall between two user inputs"""
start= int(input())
end= int(input())

i= start
sum=0
while i<(end-2):
  if i%2==0:
    i+=2
    print(i)

12
34
14
16
18
20
22
24
26
28
30
32

In [ ]:
"""print the sum of all even numbers that fall between two user inputs"""
start= int(input())
end= int(input())

i=start
sum=0
while i<=end:
  if i%2==0:
    sum+=i
    i+=2
  else:
    print('')
  print(sum)

5
15

0

In [ ]:
"""whether a number is prime or not"""

N= int(input())
k=0
if N==0 and N==1:
  print("not a prime")
else:
  i=2
  while i<N:
    if N%i==0:
      k+=1
    i+=1
if k==0:
  print("prime")
else:
  print("not prime")

23
prime

In [ ]:
n= int(input())
c=0

if n==0 and n==1:
  print("not a prime")
else:
  i=2
  while i<n:
    if n%i==0:
      k+=1
    i+=1
if k==0:
  print("prime")
else:
  print("not a prime ")

22
not a prime

In [ ]:
# N= int(input())
# k=0
# if N==0 and N==1:
#   print("not a prime number")
# else:
#   i=2
#   while i<N:
#     for i in range (2, N+1):
#       if N%i==0:
#         k+=1
#         break
#       i+=1
#     if k==0:
#       print(i)   
      

def prime(n):
  if n==0 and n==1:
    return False
  
  
  for i in range(2,n+1):
    if i<n:
      if n%i==0:
        return False
     
  return True

n= int(input())
for i in range(2,n+1):
  if (prime(i)):
    print(i, end=',')

23
2,3,5,7,11,13,17,19,23,

In [ ]:
n=int(input())
for n in range(2, n + 1):
  if n > 1:
     for i in range(2, n):
       if (n % i) == 0:
         break
       else:
         print(n)

5
3
5
5
5

In [ ]:
T= int(input())
t=1
while t<=T:
    n= int(input())
    count=0
    if n==0:
        count+=1
        print(count)
    else:
        while n>0:
            count+=1
            n=n//10
        print(count)
    t+=1

1
10101
5

In [ ]:
# T= int(input())
# t=1
# while t<=T:
#     n1= int(input())
#     dig1=0
#     sum1=0
#     while n1!=0:
#       dig1= n1%10
#       sum1=sum1+dig1
#       n1=n1//10
#     print("the sum of digits are ",sum1)
#     n2= int(input())
#     dig2=0
#     sum2=0
#     while n2!=0:
#       dig2= n2%10
#       sum2=sum2+dig2
#       n2=n2//10
#     print("the sum of digits are ",sum2)
#     break
#     t+=1

T= int(input())
t=1
while t<=T:
    n= int(input())
    dig=0
    s=0
    while n!=0:
      dig= n%10
      s=s+dig
      n=n//10
    print("the sum of digits are ",s)
    t+=1

3
1589
the sum of digits are  23
214
the sum of digits are  7
324
the sum of digits are  9

In [ ]:

T= int(input())
t=1
while t<=T:
    n= int(input())
    count = 0
    while (n > 0):
      if(n % 10 == 1):
        count = count + 1
      n = n // 10
    print(count)
    t+=1

  
 
        # check if the digit is D
        
   
        
    # print()
    # t+=1

# num = 121
# count = 0

# while num != 0:

#     num //= 10
#     count += 1

# print("Number of digits: " + str(count))

1
12123
2

In [ ]:
print(len(range(2,8)))

6

In [ ]:
for i in range(8 , 2,-2):
  print(i)

8
6
4

In [ ]:
n= int(input())
for i in range(n+1):
  print(i, end=" ")

14
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [ ]:
n= int(input())
s=0
for i in range(n+1):
  s=s+i
print(s)

10
55

In [ ]:
n= int(input())
factorial=1
for i in range(1,n+1):
  factorial*=i
print(factorial)

4
24

In [ ]:
start= int(input())
end= int(input())
p=1
for i in range(start,end+1, 2):
  if start%2==0 and start!=0:
    p*=i 
print(p)

2
8
384

In [ ]:

start= int(input())
end= int(input())
p=1
if start%2==0:
  x = start
elif start==0:
  x = 2
else:
  x = start+1

for i in range(x,end+1,2):
  p*=i 
print(p)

2
8
384

In [ ]:
print(list(range(2,8,2)))

[2, 4, 6]

In [ ]:

N=int(input())
for i in range (N,0,-1):
  print(i, end=",")

10
10,9,8,7,6,5,4,3,2,1,

In [ ]:
"""print a range in reverse order"""

N=int(input())
for i in range(1,N+1):
  print(N-i+1, end=",")

10
10,9,8,7,6,5,4,3,2,1,

In [ ]:
"""print a range in reverse order"""
N=int(input())
for i in range(-N,1):
  print(-i, end=",")

10
10,9,8,7,6,5,4,3,2,1,0,

In [ ]:
x = 2
for i in range(0, 4):
    if x%2:
       x = x*2
    else:
       x = x+1

In [ ]:
x = 1
for i in range(x):
    x=x+1
    print(i, end= " ")

0

In [ ]:
N= int(input())

for i in range(1,N+1):
  print(i,end=" ")

5
1 2 3 4 5

In [ ]:
a = 0
while True:
  if a == 5:
    a = a+1
    a %= 5
  a += 1
  
  break

In [ ]:
i = 0
j = 0
while i <= 2:
   if j%2:
       j += 1
   print(i, ":", j, end=" ")
   i+=1
   j+=1

0 : 0 1 : 2 2 : 4

In [ ]:
for a in range(10):
  if (a%3==0):
    continue
  print(a, end='')

124578

In [ ]:
x=int(input())
y=int(input())

q=0
r=0
while x>=y:
    x-=y
    q+=1
print(q, x)

45
15
3 0

In [ ]:
A= int(input())
s=0
for i in range(1,A+1):
  if i%2!=0:
    s=s+i
print(s)

4
4

4
10

In [ ]:
N= int(input())

a="*"
for i in range(1,N+1):
  print(a, end="")

5
*****

In [ ]:
"""sum of the digits in the inpput number"""
n= int(input())
t=1
while t<=n:
  dig=0
  s=0
  num=int(input())
  while num!=0:
    dig=num%10
    s=s+dig
    num=num//10
  print(s)
  t+=1

2
1589
23
23
5

In [ ]:
T= int(input())
t=1
while t<=T:
  dig=0
  p=1
  n= int(input())
  while n!=0:
    dig=n%10
    p=p*dig
    n=n//10
  print(p)
  t+=1

2
234
24
1589
360

In [ ]:
t=1
n=int(input())
while t<=len(str(n)):
  dig=0
  while n!=0:
    dig=n%10
    n=n//10
    print(dig, end="")
  t+=1

9876543
3456789