<a href="https://colab.research.google.com/github/dmish10/Scaler_Homework/blob/master/Dictonaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#dictionaries have a keyword and its corresponding value
a= {
    "key1: value1",
    "key2:value2"
}

In [ ]:
statewise_AQI ={
    "Delhi": 420,
    "Haryana": 389,
    "Punjab": 400,
    "Himachal": 250
    }

In [ ]:
statewise_AQI["Delhi"]

420

In [ ]:
statewise_AQI["Himachal"]

250

In [ ]:
#in dictonaries, indexes do not exist so 
statewise_AQI[0] #won't work

KeyError: ignored

In [ ]:
#after python 3.7 version , dictionaries are displayed in an ordered way internally but indexing is still not possible.
#one can extract value out of the key.

In [ ]:
a={}
type(a)

dict

In [ ]:
#update key values 

a={
    "Delhi": 420,
    "Haryana": 389,
    "Punjab": 400,
    "Himachal": 250
    }

In [ ]:
a["Delhi"]= 370

In [ ]:
a

{'Delhi': 370, 'Haryana': 389, 'Punjab': 400, 'Himachal': 250}

In [ ]:
a["Maharashtra"]= 100

In [ ]:
a  #appended

{'Delhi': 370,
 'Haryana': 389,
 'Punjab': 400,
 'Himachal': 250,
 'Maharashtra': 100}

In [ ]:
#Heterogeneity in a dictionary with respect to Values

#lets assume key as are only of Strings datatype but value can be of any datatype.

In [ ]:
Avenger = {
    "name": "Thor",
    "age": 1500,
    "weapon" :["stormbreaker","mjoinir"]
}

In [ ]:
Avenger["enemy"]= "noobmaster"

In [ ]:
Avenger

{'name': 'Thor',
 'age': 1500,
 'weapon': ['stormbreaker', 'mjoinir'],
 'enemy': 'noobmaster'}

In [ ]:
#  Adding  and Updating Values together

In [ ]:
Avenger.update({"name":"Thor Odinson",
                "weapon": ["stormbreaker","mjolner"],
                "eyes": 1,
                "Is he the strongest?": True})

In [ ]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker', 'mjolner'],
 'enemy': 'noobmaster',
 'eyes': 1,
 'Is he the strongest?': True}

In [ ]:
#we can also update the above list given as value with more elements for the key 'weapon'using append.

Avenger["weapon"].append("Jarnbjorn")

In [ ]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker', 'mjolner', 'Jarnbjorn'],
 'enemy': 'noobmaster',
 'eyes': 1,
 'Is he the strongest?': True}

In [ ]:
random= {
    "a": 1,
    "b": 2,
    "c": 3,
    "d": None
    }

In [ ]:
random["b"]

2

In [ ]:
random["e"] #will throw an error since this key doesn't exist

KeyError: ignored

In [ ]:
# however, to prevent an error in a big program simply use get function will calling values from dicionary as below

In [ ]:
result = random.get("e")

In [ ]:
print(result) #the missing key from random will no throw an error if used with get function and return None.

None

In [ ]:
result1 = random.get("e","Not Found!")
#result1 will return not found in case the key "e" is not present in the dictionary

In [ ]:
print(result1)

Not Found!

In [ ]:
result2= random.get("a","Not found!")
print(result2)
#get function is wisely used for error handling

1

In [ ]:
# Delete the value using pop method and specify the key against the value for deletion 
random.pop("d")

In [ ]:
random

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
'''Question 1- 
                Given two dictionaries A & B, write a python program to merge both the dictionaries
        Example- A ={
                     "a":4,
                     "b":5,
                     "c":6}
                 B ={
                     "b":10,
                     "d":20}

final merged  result ={"a":4,
                      "b":10,
                      "c":6,
                      "d":20}'''

'Question 1- \n                Given two dictionaries A & B, write a python program to merge both the dictionaries\n        Example- A ={\n                     "a":4,\n                     "b":5,\n                     "c":6}\n                 B ={\n                     "b":10,\n                     "d":20}\n\nfinal merged  result ={"a":4,\n                      "b":10,\n                      "c":6,\n                      "d":20}'

In [ ]:
A ={
     "a":4,
     "b":5,
     "c":6}

In [ ]:
B ={
      "b":10,
      "d":20}

In [ ]:
A.update(B)

In [ ]:
A

{'a': 4, 'b': 10, 'c': 6, 'd': 20}

In [ ]:
 #ITERATION IN A DICTIONARY

In [ ]:
a= Avenger

In [ ]:
for i in a:    #this will traverse over the keys in the dictionary
  print(i)

name
age
weapon
enemy
eyes
Is he the strongest?

In [ ]:
for i in a:    #to traverse over corresponding values 
  print(a[i])

Thor Odinson
1500
['stormbreaker', 'mjolner', 'Jarnbjorn']
noobmaster
1
True

In [ ]:
for i in a: #to traverse over both the keys and corresponding values
  print(f"{i} --> {a[i]}")

name --> Thor Odinson
age --> 1500
weapon --> ['stormbreaker', 'mjolner', 'Jarnbjorn']
enemy --> noobmaster
eyes --> 1
Is he the strongest? --> True

In [ ]:
for i in a.keys():
  print(i)

name
age
weapon
enemy
eyes
Is he the strongest?

In [ ]:
list(a.keys())

['name', 'age', 'weapon', 'enemy', 'eyes', 'Is he the strongest?']

In [ ]:
for i in a.values():
  print(i)

Thor Odinson
1500
['stormbreaker', 'mjolner', 'Jarnbjorn']
noobmaster
1
True

In [ ]:
for i in a.items():
  print(i)

('name', 'Thor Odinson')
('age', 1500)
('weapon', ['stormbreaker', 'mjolner', 'Jarnbjorn'])
('enemy', 'noobmaster')
('eyes', 1)
('Is he the strongest?', True)

In [ ]:
list(a.items())

[('name', 'Thor Odinson'),
 ('age', 1500),
 ('weapon', ['stormbreaker', 'mjolner', 'Jarnbjorn']),
 ('enemy', 'noobmaster'),
 ('eyes', 1),
 ('Is he the strongest?', True)]

In [ ]:
for key, value in a.items():
  print(f"{key} --> {value}")

name --> Thor Odinson
age --> 1500
weapon --> ['stormbreaker', 'mjolner', 'Jarnbjorn']
enemy --> noobmaster
eyes --> 1
Is he the strongest? --> True

In [ ]:
b=[1,2,3,4,5,6]
6 in b

True

In [ ]:
"battle" in a.keys()

False

In [ ]:
"weapon" in a.keys()

True

In [ ]:
'''Question 2-  1. Take a string as input. 
                2. Create a dictionary as per the following criteria- 
                -- There will be one key value pair for each unqiue character
                -- Key will the character and value will be the count of the character inside that string.
            INPUT -- "rrsssstttt"
            OUTPUT -- 
            {
              "r":2,
              "s":4,
              "t":4
            }
            '''

'Question 2-  1. Take a string as input. \n                2. Create a dictionary as per the following criteria- \n                -- There will be one key value pair for each unqiue character\n                -- Key will the character and value will be the count of the character inside that string.\n            INPUT -- "rrsssstttt"\n            OUTPUT -- \n            {\n              "r":2,\n              "s":4,\n              "t":4\n            }\n            '

In [ ]:
a ="rrsssstttt"

In [ ]:
result={}
for i in set(a):
    result[i]=a.count(i)
result

{'r': 2, 't': 4, 's': 4}

In [ ]:
 #. Mutables ---> Lists , Sets and Dictionaries
 # Immutable ---> Int, Float, Boolean, Strings, Tuples

In [ ]:
'''{
    'keys  --> any immutable data structure' : 'Values--->refer to any mutable data structure'
}'''

"{\n    'keys  --> any immutable data structure' : 'Values--->refer to any mutable data structure'\n}"

In [ ]:
random ={
    "Key1": [24,3,4],
    "Key2": {(1,2,3):45},
     45 : "value3",
     67.6: "value4",
     True: "value5",
     [6,7,8]: "value6"
} 

#unhashable type: 'list' error since list is mutable and can't be used as key.

TypeError: ignored