<a href="https://colab.research.google.com/github/dmish10/Scaler_Homework/blob/master/Functions_19thoct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#functions are a set of instructions which are modular and reusable

In [ ]:
"""Ques 1- write program to print instructions to make tea"""

'Ques 1- write program to print instructions to make tea'

In [ ]:

def tea():
    print("make tea")

for i in range(3):
  tea()

make tea
make tea
make tea

In [ ]:
def convert(t):
    print(t*9/5 + 32)

convert(20)

68.0

In [ ]:
T= int(input())
t=0
while t<T:
  def celsius_farhen(Celsius):
    ans = (Celsius*9/5 + 32)
    print(round(ans,2))
  
  Celsius= float(input())
  celsius_farhen(Celsius)    

  t+=1

1
36.8
98.24

In [ ]:
def celsius_farhen(Celsius):
    ans = 0
    
    convert = (Celsius * 9 /5) + 32
    ans = convert
   
    return round(ans,2)
Celsius= float(input())
celsius_farhen(Celsius)

36.8

98.24

In [ ]:
def circle_area(r):
    ans=0
    '''input: r = A numerical value as radius
       output: Return the area of circle as ans upto 2 decimal places'''
    area = 3.14* r*r
    ans = area

    return round(ans,2)
r=int(input())
circle_area(r)

6

113.04

In [ ]:
def sum_squares(n):
    ans = None
    ''' input:Given Integer n
         output: Return ans as sum of squares in integer format.'''
    square = (n*(n+1)*(2*n+1))/6
    ans = square

    return ans
# n=int(input())
sum_squares(6)

91.0

In [ ]:
def isvowel(C):
    ans = None
    # YOUR CODE GOES HERE
    if C=='a' or C=='e' or C=='i' or C=='o' or C=='u':
        print(1)
    else:
        print(0)

C= input()
isvowel(C)

i
1

In [ ]:
def sequence(n):
    '''input: n = A single integer for the range where n is inclusive
       output: First Print from 1 to N and new line Print from N to 1'''
    
    for i in range(1,n+1):
        print(i, end=" ")
    print('\n')
    for i in range(1,n+1):
        print(n+1-i, end=" ")
sequence(5)

1 2 3 4 5

5 4 3 2 1

In [ ]:
def simple_int(time,pa,ir):
  ans=None
  SI=  pa  + pa * ir/100 * time/365
  ans=SI
  return round(ans,2)
simple_int(789,10000,1.3)

10281.01

In [ ]:
def road_tax(price):
    tax = 0
    if price<=50000:
      tax= .05*float(price) + tax
    elif price>50000 and price <=75000:
      tax=.10*float(price)+ tax
    elif price>75000 and price<=100000:
      tax= .15*float(price) + tax
    else:
      tax= .20*float(price) + tax

    return round(tax,2)


road_tax(25000)

1250.0

In [ ]:
x = 55
def hi():
  return x
x +=10
print(hi())

65

In [ ]:
# def star(n):

def star(n):
    for i in range(1,n+1):
      if i==1:
        for j in range(n):
          print("*", end="")
      elif i==n:
        print("*", end="")
      else:
        print("*", end="")
        
        for k in range(n-i-1):
          print(" ", end="")
        print("*", end="")
      print()
star(8)

********
*     *
*    *
*   *
*  *
* *
**
*

In [ ]:
n=6
for i in range(1,n+1):
  if i==1:
    for j in range(n):
      print("*", end="")
  elif i==n:
    print("*", end="")
  else:
    print("*", end="")
    for k in range(n-i-1):
      print("#", end="")
    print("*", end="")
  print()

******
*###*
*##*
*#*
**
*

In [ ]:
n=6
s=0
for i in range(1,n):
  if n % i==0:
    s = s + i
if s == n:
  print(n,"is a perfect no.")
else:
  print(n, "isn't perfect")

6 is a perfect no.

In [ ]:
n = int(input("Enter any number: "))
sum1 = 0
for i in range(1, n):
    if(n % i == 0):
        sum1 = sum1 + i
if (sum1 == n):
    print("The number is a Perfect number!")
else:
    print("The number is not a Perfect number!")

Enter any number: 6
The number is a Perfect number!

In [ ]:
def nanes(name):
  print("Hello",name,"!")

nanes("shikha")

Hello shikha !

In [ ]:
def sol(A,B,C):
    count = 0
    while C > 0:
        C=C+B;
        # current cases=activecases+newcases
        C=C-A; 
        # current cases=activecases-recovercases
        count += 1
    return count
sol(4,3,2)

# math.ceil(C/(A-B))

2

In [ ]:
def perfect(A):
    s=0
    for i in range(1,A):
        if A%i==0:
            s=s+i
    if s==A:
        return 1
    else:
        return 0
perfect(6)

1

In [ ]:
def perfect(A):
    s=0
    for i in range(1,A):
        if A % (A**0.5) == 0:
            return 1
        else:
            return 0
perfect(4)

1

In [ ]:
def perfect(A):
    s=0
    if A % (A**0.5) == 0:
        return 1
    else:
        return 0

perfect(4)

1

In [ ]:
x = int(input("Enter num :"))

def square(x):

  for i in range(1,x):

    if i*i == x:

      return int(x**.5)

      break

  else:

    return 0

y = square(x)

print(y)

Enter num :4
2

In [ ]:
import math
def issquare(num):
    ans  = None
    # YOUR CODE GOES HERE
    
    y = int(math.sqrt(num))

    if y**2 == num:
        ans = 1
    else:
        ans = 0
    return ans
issquare(4)

1

In [ ]:
def sqrt(A):
  sq=int(A**0.5)
  if (sq*sq)==A:
    return sq
  else:
    return -1
sqrt(4) 
   
# sqrt(5)

           # define square root variable as integer of num^0.5

2

In [ ]:
def isPerfectSquare(A) :
  i = 1
  while(i * i<= A):
    if ((A % i == 0) and (A / i == i)):
      return int(A**.5)
    
    i = i + 1
  return -1

In [ ]:
isPerfectSquare(4)

2

In [ ]:
def solve(self, A):
  sqrt = int(A**0.5)
  if (sqrt * sqrt) == A:
    return sqrt
  return -1

In [ ]:
import math
def real(A):
  A = A / 200
  if A >= 0:
    if A % 1 < 0.5:
      return(math.floor(A))
    else:
      return(math.ceil(A))
  else:
    if A % 1 > 0.5:
      return(math.ceil(A))
    else:
      return(math.floor(A))

real(2113)

11

In [ ]:
def fun1(name, age):
  print(name,age)

In [ ]:
def multiple_print(s, n = 1):
    print(s * n, end='')
    print() # this prints new line i.e. \n

multiple_print('Hello', 2)
multiple_print('Hello')

HelloHello
Hello

In [ ]:
def Interest(p=1000,c=2,t=2,r=0.09):
  return p*t*r
Interest()

180.0

In [ ]:
"""Problem Description
Given three integers, A, B and C. You have to find the number of days it will take to reach zero cases of Corona in a city.

A - Average cases recovered in a day of the corona.
B - Number of new cases of corona daily.
C - Current active cases of the corona.

Return the minimum number of days it will take to reach 0 active cases of Covid."""

'Problem Description\nGiven three integers, A, B and C. You have to find the number of days it will take to reach zero cases of Corona in a city.\n\nA - Average cases recovered in a day of the corona.\nB - Number of new cases of corona daily.\nC - Current active cases of the corona.\n\nReturn the minimum number of days it will take to reach 0 active cases of Covid.'

In [ ]:
def covid(A,B,C):
  count=0
  while C>0:
    C=C+B
    C=C-A
    count+=1
  return count

In [ ]:
covid(5,3,1)

1

In [ ]:
"""You are given a function that takes an integer argument A. Return 1 if A is a perfect square otherwise return 0."""

'You are given a function that takes an integer argument A. Return 1 if A is a perfect square otherwise return 0.'

In [ ]:
def sqr(A):
  for i in range(1,A+1):
    if A%i==0 and A/i==i:
      return int(A**.5)
  else:
    return 0
sqr(41)

0

In [ ]:
"""Given an integer A, find the rounded value of real number A / 200"""

'Given an integer A, find the rounded value of real number A / 200'

In [ ]:
import math
# class Solution:
def any(A):
  A=A/200
  if A>=0:
    if A%1<0.5:
      return math.floor(A)
    else:
      return math.ceil(A)
  else:
    if A%1>0.5:
      return math.ceil(A)
    else:
      return math.floor(A)
any(-2113)

-11

In [ ]:
            if(BMI<=18.5){
                System.out.println("Underweight");
               
            }
            else if(BMI>18.5 && BMI<=24.9){
                 System.out.println("Normal weight");
                 
            }
            else if (BMI>24.9 && BMI <=29.9){
                 System.out.println("Overweight");
               
            }
            else if (BMI >29.9){
                 System.out.println("Obese");
               
            }
             System.out.println((int)(BMI*10+0.5)/10d);

In [ ]:
def BMI(A,B):
  x=B
  y=A/100
  BMI =x/(y**2)
  
  if(BMI<=18.5):
    print("Underweight")
  elif(BMI>18.5 and BMI<=24.9):
    print("Normal")
  elif (BMI>24.9 and BMI <=29.9):
    print("Overweight")
  else:
    print("Obese")
  return int(BMI*10+0.5)/10
BMI(129, 31)

Normal weight

18.6

In [ ]:
class Solution:
    def BMI(A,B):
        x=B
        y=A/100
        BMI = x/(y*y)
        if(BMI<=18.5):
            print("Underweight")
        elif(BMI>18.5 and BMI<=24.9):
            print("Normal weight")
        elif (BMI>24.9 and BMI <=29.9):
            print("Overweight")
        else:
            print("Obese")
        return int(BMI*10+0.5)/10

In [ ]:
BMI(171,51)

Underweight

17.4

In [ ]:
BMIS(129,31)

Normal weight

18.6

In [ ]:
def BMIS(A,B):
  x=B
  y=A/100
  BMI = x/(y*y)
  # BMI = (B/((A/100)**2)*10+0.5)/10
  if(BMI<18.5):
    print("Underweight")
  elif(BMI>=18.5 and BMI<=24.9):
    print("Normal weight")
  elif (BMI>24.9 and BMI <=29.9):
    print("Overweight")
  else:
    print("Obese")
  return int(BMI*10+0.5)/10
  # return round(BMI,1)

In [ ]:
BMIS(171,51)

Underweight

17.4

In [ ]:
def divide( A, B):
  if A % B == 0:
    print( A // B)
        
  else:
    print("")

In [ ]:
divide(-9,3)

-3

In [ ]:
x = 5

def foo(x):
    x = 4

foo(x)
print(x)

5

In [ ]:
x = "global"

def foo():
    global x
    print(x, end=",")
    x = "local"
    print(x, end=",")

foo()
print(x, end="")

global,local,local

In [ ]:
def perfee(A):
  for i in range(1,A):
    if A%i==0 and A/i==i:
      return int(A**.5)
  else:
    return 0
# def perfect(A):
#     s=0
#     if A % (A**0.5) == 0:
#         return int(A**0.5)
#     else:
#         return 0

In [ ]:
perfee(41)

0

In [ ]:
import math
def reality(A):
  A= round(A/200,2)
  return math.floor(A)

In [ ]:
reality(2113)

10

In [ ]:
def calculator(num):
  return num*400

In [ ]:
a=40

In [ ]:
print(a)
calculator(a)
print(num)

40

NameError: ignored

In [ ]:
def random(a,b,c,d):
  print("a=",a)
  print("b=",b)
  print("c=",c)
  print("d=",d)

random(4, 5, b=6, d=int(input()))

7

TypeError: ignored

In [ ]:
"ques- create a date print function with argumnets - day, month, year and style. style by default is 0"

'ques- create a date print function with argumnets - day, month, year and style. style by default is 0'

In [ ]:
def daten(day, month, year, style=0):
  
  if style ==0:
    # print(day,"/",month,"/",year)
    print(day,month,year,sep="/")
  elif style==1:
    # print(month,"/",day,"/",year)
    print(month,day,year,sep="/")
  else:
    print("invalid style")
daten(14,10,1988)

14/10/1988

In [ ]:
daten(14,10,1988,1)

10/14/1988

In [ ]:
"""  Rounded value of a real number X is the integer which is nearest to X, with halfway cases rounded away from zero. Some examples: Rounded value of 2.4 = 2
Rounded value of 2.5 = 3
Rounded value of 2.6 = 3
Rounded value of 0.0 = 0
Rounded value of -2.4 = -2
Rounded value of -2.5 = -3
Rounded value of -2.6 = -3"""

'  Rounded value of a real number X is the integer which is nearest to X, with halfway cases rounded away from zero. Some examples: Rounded value of 2.4 = 2\nRounded value of 2.5 = 3\nRounded value of 2.6 = 3\nRounded value of 0.0 = 0\nRounded value of -2.4 = -2\nRounded value of -2.5 = -3\nRounded value of -2.6 = -3'

In [ ]:
#for positive real number
a=5.6
floor= a//1 #floor is the largest integer lower than the number
ceil= a//1+1 #ceil is the smallest integer bigger than the number

In [ ]:
floor

5.0

In [ ]:
ceil

6.0

In [ ]:
diff_from_floor= a-floor
diff_from_floor

0.5999999999999996

In [ ]:
diff_from_ceil= ceil-a
diff_from_ceil

0.40000000000000036

In [ ]:
#wherever the difference is smaller, one can round off to that number 
if diff_from_ceil <= diff_from_floor:
  result=ceil
else:
  result=floor

In [ ]:
A = [1, 9, 9, 9, 10, 21]

In [ ]:
def solve(A):
  B= int(input())

  C=[]
  for i in range(len(A)):
    if A[i]==B:
      if A[i]!= max(A):
        C.append(i)
  
  return C

In [ ]:
solve(A)

9

[1, 2, 3]

In [ ]:
def solve(self, A):
  if len(A) == 1:
    return -1
  else:
    max1 = max(A)
    second_max = []
    for i in A:
      if i!= max1:
        second_max.append(i)
      return max(second_max)