<a href="https://colab.research.google.com/github/dmish10/Scaler_Homework/blob/master/lists_27th_%26_30th_oct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# print total of runs scored on odd number matches or odd pisitions

In [ ]:
runs_virat =[67,54,12,34,77,89,101]

In [ ]:
print(runs_virat[0]+runs_virat[2]+runs_virat[4]+runs_virat[6])

257

In [ ]:
#methods- special functions of python objects
runs_virat.append(71)

In [ ]:
print(runs_virat)

[67, 54, 12, 34, 77, 89, 101, 71]

In [ ]:
runs_virat.insert(5,99)
print(runs_virat)

[67, 54, 12, 34, 77, 99, 89, 101]

In [ ]:
#nested list in a list

a=[67, 54, 12, 34, 77]
print(a)

[67, 54, 12, 34, 77]

In [ ]:
a.append([45,16])
print(a)

[67, 54, 12, 34, 77, [45, 16], [45, 16]]

In [ ]:
#to avoid concatenation of another list into existing one as a list, use extend
a.extend([45,17])
print(a)

[67, 54, 12, 34, 77, [45, 16], 45, 17, 45, 17]

In [ ]:
a= a + [82,34,56] 
#this works exactly like extend

In [ ]:
print(a)

[67, 54, 12, 34, 77, [45, 16], [45, 16], 82, 34, 56]

In [ ]:
b='python'
for i in b:
  print(i)

p
y
t
h
o
n

In [ ]:
c=[67, 54, 12, 34, 77]
for i in c:
  print(i)

  #i is the iterator -variable that is used to iterate
  #c is the iterable - data structure which is used to iterate on

67
54
12
34
77

In [ ]:
n=len(c)
for i in range(n):
  print(c[i])
  # print(c)

67
54
12
34
77

In [ ]:
aa= [9,12,13,14,15,16]

In [ ]:
bb=[12,13,1,4]

In [ ]:
aa.extend(bb)

In [ ]:
aa

[9, 12, 13, 14, 15, 16, 12, 13, 1, 4]

In [ ]:
aa.append(bb)

aa

[9, 12, 13, 14, 15, 16, [12, 13, 1, 4]]

In [ ]:
sum=0
avg=0
for i in aa:
  sum=sum+i
  avg=sum//len(aa)
print(sum)
print(avg)

109
10

In [ ]:
runs_virat =[67,54,12,34,77,89,101]

In [ ]:
#find the sum , max, min, length without using internal functions

In [ ]:
#for length
def custom_len(a):
  n=0 
  for i in a:
    n=n+1
  return n

In [ ]:
custom_len(runs_virat)

7

In [ ]:
#for sum 
sum=0
for i in runs_virat:
  sum=sum+i

print(sum)

434

In [ ]:
max_runs=0
for i in runs_virat:
  if i > max_runs:
    max_runs=i
print(max_runs)

101

In [ ]:
min_runs=max_runs
for i in runs_virat:
  if i< min_runs:
    min_runs=i
print(min_runs)

12

In [ ]:
min_run=runs_virat[0]
for i in runs_virat:
  if i<min_run:
    min_run= i
print(min_run)

12

In [ ]:
"""
calculate avg of runs scored by virat in all matches with even index"""

'\ncalculate avg of runs scored by virat in all matches with even index'

In [ ]:
def custom(runs_virat):
  count=0
  sum1=0
  for i in range(len(runs_virat)):
    if i%2==0:
      count+=1
      sum1=sum1+runs_virat[i]
  print(count)
  return sum1

custom(runs_virat)

4

257

In [ ]:
count=0
sum1=0
for i in range(len(runs_virat)):
  if i%2==0:
    count+=1
    sum1=sum1+runs_virat[i]
print(count)
print(sum1)
print(sum1//count)

4
257
64

In [ ]:
aa

[9, 12, 13, 14, 15, 16, 12, 13, 1, 4]

In [ ]:
aa.pop(2) #it removes the value at the index

13

In [ ]:
aa

[9, 12, 14, 15, 16, 12, 13, 1, 4]

In [ ]:
aa.remove(13) #it removes the value wherever it is positioned
aa

[9, 12, 14, 15, 16, 12, 1, 4]

In [ ]:
e= [1,2,3,4,5,5,5,6,7,7,8]

In [ ]:
e.remove(5) #it removes only the first value of the value mentioned and retains the repetitives 
e

[1, 2, 3, 4, 5, 6, 7, 7, 8]

In [ ]:
s=[]
for i in range(5):
  value=int(input())
  s.append(value)

1
2
3
45
32

In [ ]:

s

[1, 2, 3, 45, 32]

In [ ]:
a= '50 20 9 18'

In [ ]:
a=a.split()

In [ ]:
a

['50', '20', '9', '18']

In [ ]:
for i in range(len(a)):
  a[i] = int(a[i])

In [ ]:
a

[50, 20, 9, 18]

In [ ]:
a[0]=456

In [ ]:
a

[456, 20, 9, 18]

In [ ]:
#write a program to find The difference of the  sum of elements at even and odd indicesin integer format

N='56 63 87 24 32 13 15 19 44 52'
N=N.split()

In [ ]:
N

['56', '63', '87', '24', '32', '13', '15', '19', '44', '52']

In [ ]:
for i in range(len(N)):
  N[i]=int(N[i])
N

[56, 63, 87, 24, 32, 13, 15, 19, 44, 52]

In [ ]:
def diff_sum(N):
  sum_e=0
  sum_o=0
  for i in range(len(N)):
    if i%2==0:
      sum_e+=N[i]
    else:
      sum_o+=N[i]
  print(sum_e)
  print(sum_o)
  print(sum_e- sum_o)

In [ ]:
diff_sum(N)

234
171
63

In [ ]:
def even_odd(N):
  sum_e=0
  sum_o=0
  for i in N:
    if i%2==0:
      sum_e+=i
    else:
      sum_o+=i
  print(sum_e)
  print(sum_o)
  print(sum_e- sum_o)

In [ ]:
even_odd(N)

208
197
11

In [ ]:
A="5 1 2 3 4 5"
A=A.split()
A

['5', '1', '2', '3', '4', '5']

In [ ]:
for i in range(len(A)):
  A[i]=int(A[i])
A

[5, 1, 2, 3, 4, 5]

In [ ]:
# Write a program to print sum of elements of the input array A of size N.

In [ ]:
sum1=0
for i in A:
  sum1+=i
print(sum1)

20

In [ ]:
for i in range(-6, -10, -1):
     print(i, end =" ")

-6 -7 -8 -9

In [ ]:
num= [1,2,3,4,5,6,7]
even=[]
for i in num:
  if i%2==0:
    even.append(i)
print(even)

[2, 4, 6]

In [ ]:
A='1 2 3 3'
A=A.split()

In [ ]:
for i in range(len(A)):
  A[i]=int(A[i])

In [ ]:
A

[1, 2, 3, 3]

In [ ]:
#Write a function to check if the input list has consecutive duplicate elements or not.
# Return True if there are consecutive duplicate elements in the list else return False.

In [ ]:
def duplicate(A,n):
  n=len(A)
  for i in A:
    if i==A:
      print(i) 
  else:
    print('False')

In [ ]:
duplicate(A,n)

False

In [ ]:
#Write a program for a given integer x and a list ls to return the first multiple of x that occurs in the list, 
# and if there isnâ€™t any multiple of x in the list then return -1.

In [6]:
T= int(input())
ls=[]
for i in range(T):
  value=int(input())
  ls.append(value)

2
23
34

In [5]:
ls

[56, 6]

In [ ]:
def first_multiple(ls,x):
  for i in ls:
    if i%x==0:
      print(i//x)
  else:
    print('-1')

In [ ]:
first_multiple(ls,x)

1
-1

In [ ]:
a=[10,20,30,40,50]

for i in range(len(a)):
  # print(i)
  print(a[i])

10
20
30
40
50

In [ ]:
runs=[62,85,71,10,12,101,122,99,81,55]

In [ ]:
r=[]
for i in range(len(runs)):
  if i%2==0:
    c=runs[i]
    if i==len(runs)-1 or i ==len(runs) - 2:
      print(c, end="" )
    else:
      print(c, end="," )
    r.append(c)

62,71,12,122,81

In [ ]:
r

[62, 71, 12, 122, 81]

In [ ]:
# rr=[]
for i in range(0,len(runs),2):
  # f=runs[i]
  if i==len(runs) - 1 or i== len(runs) - 2:
    print(runs[i], end="")
  else:
    print(runs[i], end=",")
#   rr.append(f)

# rr

62,71,12,122,81

In [ ]:
ls=[]
for i in range(len(runs)):
  if i%2==0:
    r= runs[i]
    print(r, end=" ")
    ls.append(r)

62 71 12 122 81

In [ ]:
ls

[62, 71, 12, 122, 81]

In [ ]:
for i in range(len(runs)-5, len(runs)): #all the runs from last 5 matches 
  print(runs[i],end=",")

101,122,99,81,55,

In [ ]:
for i in range(len(runs)):
  if i >= len(runs)-5:
    print(runs[i],end=",")

101,122,99,81,55,

In [ ]:
for i in range(len(runs)-1, len(runs)-6, -1):
  print(runs[i],end=",")

55,81,99,122,101,

In [ ]:
# runs scored in last 3 matches
for i in range(3):
  
    print(runs[i],end=",")

62,85,71,

In [ ]:
for i in range(len(runs)-1, -1,-1): #to print from end to begining of the runs list ...use -1 to include value at position 0
  print(runs[i],end=",")

55,81,99,122,101,12,10,71,85,62,

In [ ]:
#runs made from the third to seventh match both included

for i in range(2,7): #the third would at index 2 and the seventh would be at index 6
  print(runs[i],end=",")

71,10,12,101,122,

In [ ]:
#above problem using while loop
i=0
while True:
  if i==7:
    break
  elif i>=2:
    print(runs[i],end=",")
  i+=1

71,10,12,101,122,

In [ ]:
""" Using List Slicing """

' Using List Slicing '

In [ ]:
# runs from last 5 matches 

runs[(len(runs)-5): len(runs)]

[101, 122, 99, 81, 55]

In [ ]:
runs[0:3] # runs from first 3 matches

[62, 85, 71]

In [ ]:
runs[:3] #automatically assumes start value to be 0

[62, 85, 71]

In [ ]:
runs[2:]

[71, 10, 12, 101, 122, 99, 81, 55]

In [ ]:
runs[200:300]

[]

In [ ]:
runs[0:len(runs):2] #odd numbered elements

[62, 71, 12, 122, 81]

In [ ]:
runs[::2] #it is the same as above

[62, 71, 12, 122, 81]

In [ ]:
runs[1::2] #even numbered elements

[85, 10, 101, 99, 55]

In [ ]:
runs[5:0]

[]

In [ ]:
w= [4,6,9,3,2,7,8]

In [ ]:
w[-7:-2]

[4, 6, 9, 3, 2]

In [ ]:
w[5::-1]

[7, 2, 3, 9, 6, 4]

In [ ]:
""" Questions for list slicing in list 
a=[10,20,30,40,50,60,70,80,90,100]"""

' Questions for list slicing in list \na=[10,20,30,40,50,60,70,80,90,100]'

In [ ]:
a=[10,20,30,40,50,60,70,80,90,100]

In [ ]:
a[3:5]

[40, 50]

In [ ]:
a[:8]

[10, 20, 30, 40, 50, 60, 70, 80]

In [ ]:
a[:]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
a[7:]

[80, 90, 100]

In [ ]:
a[-2:-5:-1]

[90, 80, 70]

In [ ]:
a[-2:-7]

[]

In [ ]:
a[:-5]

[10, 20, 30, 40, 50]

In [ ]:
a[-2:]

[90, 100]

In [ ]:
a[-8:5]

[30, 40, 50]

In [ ]:
a[-8:5:-1]

[]

In [ ]:
#Write a program that returns the list of elements that are present in the given list and are divisible by 5 and 7.
b=[23, 34, 25, 35, 66, 70, 14]

In [ ]:
ls=[]
for i in range(len(b)):
  if b[i]%5==0 and b[i]%7==0:
    
    print((b[i]))
    ls.append(b[i])

35
70

In [ ]:
ls

[35, 70]

In [ ]:
def divisible(b):
    ''' input:lst-List of elements in integer format
         output:Return the list of elements divisible by 5 and 7'''
    
    elements=[]
    for i in range(len(b)):
        if b[i]%5==0 and b[i]%7==0:
            # print((b[i]))
            elements.append(b[i])
    return elements

In [ ]:
divisible(b)

[35, 70]

In [ ]:
#You are given an integer array A. You have to find the second largest element/value in the array or report that no such element exists
A = [2, 1, 2]

In [ ]:
def solve(A):
  # for i in range(len(A)):
  if len(A)<=1:
    return -1
  else:
    max1= A[0]
    for i in range(1,len(A)):
      if A[i]>=max1:
        max1=A[i]
      else:
        return A[i]

In [ ]:
solve(A)

1

In [ ]:
#Given an array A, find the difference between the maximum and minimum element of the array. 
#Return the difference between the maximum and minimum element of the array.

In [ ]:
A = [1, 9, 10, 3]

In [ ]:
max(A)-min(A)

9

In [ ]:
players = ['Jadeja','Rahul','Rohit']

In [ ]:
players[-1:] = ['Dhoni', 'Virat']

In [ ]:
players

['Jadeja', 'Rahul', 'Dhoni', 'Virat']

In [ ]:
players1 = ['Jadeja','Rahul','Rohit']
players1+=['Dhoni', 'Virat']

In [ ]:
players1

['Jadeja', 'Rahul', 'Rohit', 'Dhoni', 'Virat']

In [ ]:
players2 = ['Jadeja','Rahul','Rohit']
players2+='Dhoni Virat'

In [ ]:
players2

['Jadeja',
 'Rahul',
 'Rohit',
 'D',
 'h',
 'o',
 'n',
 'i',
 ' ',
 'V',
 'i',
 'r',
 'a',
 't']

In [ ]:
players3 = ['Jadeja','Rahul','Rohit']
players3[len(players):] = ['Dhoni', 'Virat']

In [ ]:
players3

['Jadeja', 'Rahul', 'Rohit', 'Dhoni', 'Virat']

In [ ]:
d=[1, 3, 4, 4, 3, 1, 2, 3, 2]

In [ ]:
d[:3]

[1, 3, 4]

In [ ]:
#Given a sorted integer array A, and an integer B. Find the first and last index of B in A.
#It is guaranteed that B exists in A. Return an array C of size 2, where C[0] is the first index of B in A and C[1] is the last index of B in A.

In [ ]:
A = [-2, -2, 4, 4, 8, 9]

In [ ]:
B=4
c=[]
for i in range(len(A)):
  if A[i]==4:
    # print(i)
    c.append(i)
  
c

[2, 3]

In [123]:
A = [1, 9, 9, 9, 10, 21]

def solve(A):
  B= int(input())
  
  C= []
  X= []
  for i in range(len(A)):
    if A[i]==B:
      C.append(i)
  first = C[0]
  last= C[len(C)-1]
  X= [first] + [last] 
  return X

In [124]:
solve(A)

9

[1, 3]

In [ ]:
#Given a sorted integer array A and an integer B. Find the ceil and floor of B in the array A.
# A = [-2, 4, 8, 9]
# B = 0
# Just greater or equal element than 0 in A is 4 and
# just smaller or equal element than 0 is A is -2.
# C =  [4, -2]

# A = [1, 9, 21]
# B = 9
# Ceil and floor of 9 will be 9 itself as 9 is present in the array.
# C=[9, 9]

In [ ]:
C=[]
for i in range(len(A)):
  B=int(input())
  if A[i]>B:

In [ ]:
def solve(A, B):
  ans = []
  if B<=min(A):
    return min(A)
  elif B>=max(A):
    return

In [ ]:
A = [-2, 4, 8, 9]
B = 0

In [ ]:
# Since the list is sorted, we can find the floor by simply iterating over all the elements less than or equal to B.
# The last element we encounter that is less than or equal to B would be its floor.
# The first element we encounter in the sorted list, that is greater than or equal to B would be its ceiling value. 
# You can break the loop as soon as you find a value >= B.

[-1, -2]

In [ ]:
# A = [-2, 4, 8, 9]
# B = 0
A = [1, 9, 21]
B = 9

def sol(A, B):
    C = []
    floor=0
    ceil=0
    for i in A:
      if i < B:
        floor+= i
      if i > B:
        ceil+= i
      # if i==B:
      #   floor=B
      #   ceil=B
        break
      C.append(floor)
      C.append(ceil)
    return C

In [ ]:
sol(A,B)

[1, 0, 1, 0]

In [ ]:
#Given an integer array A,
# find the inverse of the array A and return it. 
# All the elements of the given array are distinct and elements of the array lie in the range [0, |A|).

In [ ]:
A = [3, 1, 0, 2]
def solve(A):
  new_ls=A[::-1]
  return new_ls

In [ ]:
solve(A)

[2, 0, 1, 3]

In [ ]:
#Given an integer array A,
# find the inverse of the array A and return it. 
# All the elements of the given array are distinct and elements of the array lie in the range [0, |A|).
#Let's say we have an array A = [2, 0, 1], the inverse of A would be [1, 2, 0].

# Since 2 is at index 0 in A, we shift the element 2 to the index of element 0 in the original list A.
# Since 0 is at index 1 in A, we shift the element 0 to the index of element 1 in the original list A.
# Since 1 is at index 2 in A, we shift the element 1 to the index of element 2 in the original list A.
# This gives us the inverse of the list which is [1, 2, 0]

In [1]:
A = [3, 1, 0, 2]
def solve(A):
  C=[0]*len(A)
  for i in range(len(A)):
    C[A[i]]=i
  return C

In [2]:
solve(A)

[2, 1, 3, 0]

In [ ]:
list1=[2,12,45,6,8,32,17]
for i in list1:
  if(i==6):
    print('Element exists')

Element exists

In [ ]:
if (6 in list1):
  print('Element exists')

Element exists

In [ ]:
#sort a list without using sort function

In [ ]:
l=[1, 2, 1]
def sol(l):
  for i in range(len(l)):
    for j in range(i + 1, len(l)):
      if l[i] > l[j]:
        l[i], l[j] = l[j], l[i]
  return l

In [ ]:
sol(l)

[1, 1, 2]

In [107]:
Aa=[1, 2, 3]

In [108]:
Aa[:-1]

[1, 2]

In [9]:
A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#rotate the given list by one element 


# we can concatenate two lists by simply adding them as below 
[1,2]+[3,4]

[1, 2, 3, 4]

In [21]:
def solution1(A):
  last_element= A[len(A)-1]  #last elemet can also be written as last_element= -1
  remaining_elements = A[:len(A)-1]
  return [last_element] + remaining_elements

In [22]:
solution1(A)

[10, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
def solution2(A):
  remaining_elements = A[:len(A)-1]
  last = A.pop() #by default it pops the last number in the list
  return [last] + remaining_elements

In [39]:

A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
solution2(A)

[10, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
def solution3(A):
  last_element = A.pop()
  A.insert(0,last_element) #inserts an element of choice at a  given index
  return A

In [50]:
A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
solution3(A)

[10, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [126]:
A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
A.index(10)

9

In [127]:
B= [12,12,34,34,56,5,6]
B.count(12)

2

In [128]:
# reverse without using reverse 
A[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [131]:
B.remove(34) #removes first occurence of the element

In [132]:
B

[12, 12, 34, 56, 5, 6]

In [133]:
B.pop() #removes the last value by default and returns the popped value

6