<a href="https://colab.research.google.com/github/dmish10/Scaler_Homework/blob/master/pattern_printing_17thoct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""Print the following pattern 
5
*
**
***
****
*****

"""

'Print the following pattern \n5\n*\n**\n***\n****\n*****\n\n'

In [ ]:
n= int(input())

for i in range(1,n+1):
  print("*"*i)

5
*
**
***
****
*****

In [ ]:
"""" Ques 2- 

print the following pattern
input(5)
1
12
123
1234
12345 """

'" Ques 2- \n\nprint the following pattern\ninput(5)\n1\n12\n123\n1234\n12345 '

In [ ]:
n= int(input())

for i in range(1,n+1):
  for j in range(1,i+1):
    print(j, end="")

  print()

5
1
12
123
1234
12345

In [ ]:
"""" Ques 3- 
print the following pattern
*
*2
*2*
*2*4
*2*4*
*2*4*6
*2*4*6*
*2*4*6*8
*2*4*6*8*
*2*4*6*8*10

"""

'" Ques 3- \nprint the following pattern\n*\n*2\n*2*\n*2*4\n*2*4*\n*2*4*6\n*2*4*6*\n*2*4*6*8\n*2*4*6*8*\n*2*4*6*8*10\n\n'

In [ ]:
n= int(input())

for i in range(1,n+1):
  for j in range(1,i+1):
    if j%2==1:
      print("*", end="")
    else:
      print(j, end="")

  print()

10
*
*2
*2*
*2*4
*2*4*
*2*4*6
*2*4*6*
*2*4*6*8
*2*4*6*8*
*2*4*6*8*10

In [ ]:
n= int(input())

for i in range(n):
  for j in range(n-i):
    print("*",end="")
  print()

5
*****
****
***
**
*

In [ ]:
n= int(input())

for i in range(n):
  print("*"*(n-i))
print()

5
*****
****
***
**
*

In [ ]:
""" print below pattern"""

n= int(input())

for i in range(n):
  for j in range(n-i-1):
    print(" ", end="")
  for k in range(i+1):
    print("*",end="")
  print()

7
      *
     **
    ***
   ****
  *****
 ******
*******

In [ ]:
""" print above question using string mulitplication"""

' print above question using string mulitplication'

In [ ]:

""" take name as input from user and print the following pattern using that name
input= shikha
output= 
S*****
*H****
**I***
***K**
****H*
*****A"""

' take name as input from user and print the following pattern using that name\ninput= shikha\noutput= \nS*****\n*H****\n**I***\n***K**\n****H*\n*****A'

In [ ]:
name= input()
n=len(name)


for i in range(n):
  for j in range(n):
    if i==j:
      print(name[i], end="")
    else:
      print("*", end="")
  print()

UNDERTHETREE
U***********
*N**********
**D*********
***E********
****R*******
*****T******
******H*****
*******E****
********T***
*********R**
**********E*
***********E

In [ ]:
a= 5
b=10.0
c=a+b
print(type(c))

<class 'float'>

In [ ]:
N= int(input())

for i in range(N):
  for j in range(1):
    print("*    ", end="")
  print("*")

5
*    *
*    *
*    *
*    *
*    *

In [ ]:
N= int(input())

for i in range(N):
  for j in range(1):
    print("*"," "*(N-2), end="")
  print("*")

5
*    *
*    *
*    *
*    *
*    *

In [ ]:
n= int(input())

for i in range(n):
  for j in range(n-i):
    print("*",end="")
  print()

5
*****
****
***
**
*

In [ ]:
n=4
m=3

for i in range(1):
  for j in range(m):
    print("*"*n)
  print()

****
****
****

In [ ]:
n=5

for i in range(n):
  for j in range(i,n):
    print("*", end="")
  print()

*****
****
***
**
*

In [ ]:
N= int(input())

for i in range(N):
  for j in range(1,2):
    print("*"," "*(N-i), end="")
  print("*")

5
*      *
*     *
*    *
*   *
*  *

In [ ]:
N= int(input())

for i in range(N):
  for j in range(1,2):
    print("*"," "*(N-1-i), end="")
  print("*")

5
*     *
*    *
*   *
*  *
* *

In [ ]:
n=int(input())

for i in range(n):
  for j in range(n-i-1):
    print(" ", end="")
  for k in range(i+1):
    print("* ",end="")
  print( )

5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n=int(input())

for i in range(n):
  for j in range(n-i-1):
    print(" ", end="")
  for k in range(i+1):
    print("*",end="")
  print( )

5
    *
   **
  ***
 ****
*****

In [ ]:
N= int(input())

for i in range(N):
  for j in range(0,1):
    print("*"," "*(N-2), end="")
    # print("*", end="   ")
  print("*")

3
*  *
*  *
*  *

In [ ]:
 N = int(input())
S = N-2
for i in range(1,N+1):
  print('*',end='')
  print(' '*S,end='')
  print('*',end='')
  print()

5
*   *
*   *
*   *
*   *
*   *

In [ ]:
n=5

for i in range(n):
  for k in range(i+1):
    print(" ", end="")
  for j in range(n-i):
    print("*", end="")
    
  print()

 *****
  ****
   ***
    **
     *

In [ ]:
n=5

for i in range(n):
  for j in range(n-i):
    print("-",end="")
  for k in range(i+1):
    print("*", end="")
  print()

-----*
----**
---***
--****
-*****

In [ ]:
n=5

for i in range(n):
  for j in range(i):
    print("-",end="")
  for k in range(n-i):
    print("*", end="")
  print()

*****
-****
--***
---**
----*

In [ ]:
n=5
for i in range(n+1):
  for j in range(i):
    print(" ", end="")
  for k in range(n-i):
    print("* ",end="")
  print( )

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
n=5
for i in range(n+1):
  for j in range(i):
    print("*", end="")
  print()
for s in range(n+1):
  for l in range(n-s):
    print("*", end="")
  print()

*
**
***
****
*****
*****
****
***
**
*

In [ ]:
n=int(input())
for i in range(n+1):
  for j in range(i):
    print("*", end="")
  print()
for s in range(n-1):
  for l in range(n-s-1):
    print("*", end="")
  print()

5

*
**
***
****
*****
****
***
**
*

In [ ]:
n=int(input())
for i in range(2*n):
  for j in range(i):
    print("*", end="")
  print()
for s in range(2*n-1):
  for l in range((2*n-1)-s-1):
    print("*", end="")
  print()

5

*
**
***
****
*****
******
*******
********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
# n=int(input())
n=5
for i in range(n+1):
  for j in range(n-i):
    print("*", end="")
  
  for k in range(i):
    print(" ", end="") 
    
  for l in range(i):
    print(" ", end="")

  for m in range(n-i):
    print("*", end="") 
  print()

**********
****  ****
***    ***
**      **
*        *

In [ ]:
n=5
for i in range(n):
  for j in range(n-i):
    print("0", end="")
  
  for k in range(i+1):
    print((n-i), end="") 
  
  for l in range(i):
    print(i*2, end="")

  for m in range(n-i):
    print("0", end="") 
  print()

00000500000
00004420000
00033344000
00222266600
01111188880

In [ ]:
N= int (input())

for i in range(1,N+1) :

  for j in range (N-i):

    print("0", end=" ")

  for k in range(1,2*i):

    if k<=i:

      print(k+i-1, end=" ")

    elif k>i:

      print (3*i-k-1, end=" ")

  for r in range(N-i):

    print("0", end=" ")

  print()

5
0 0 0 0 1 0 0 0 0
0 0 0 2 3 2 0 0 0
0 0 3 4 5 4 3 0 0
0 4 5 6 7 6 5 4 0
5 6 7 8 9 8 7 6 5

In [ ]:
n=5

for i in range(1,n+1):
  for j in range(n-i):
    print("0", end=" ")
  
  # for k in range(1,2*i):
  #   if k<=i:
  #     print(k+i-1,end=" ")
  #   else:
  #     print(3*i-k-1, end=" ")

  # for l in range(n-i):
  #   print("0", end=" ")
  # print()

0 0 0 0 0 0 0 0 0 0

In [ ]:
n=5

for i in range(1,n+1):
  for j in range(1,i+1):
    if j%2!=0:
      print(j, end="")
    else:
      print("_", end="")

  print()

1
1_
1_3
1_3_
1_3_5

In [ ]:
n=6

for i in range(1,n+1):
  if i==1:
    for j in range(n):
      print("*", end="")
  elif i==n:
    print("*", end="")
  else:
    print("*", end="")
    for k in range(n-i-1):
      print(" ", end="")
    print("*", end="")
  print()

******
*   *
*  *
* *
**
*

In [ ]:
n=5



for i in range (1,n+1):
    print("*", end="")
    for j in range (1,n-1):
        if (i==1 or i==n):
            print("*",end="")
        else: 
            print (" ",end="")
    print("*")

*****
*   *
*   *
*   *
*****

In [ ]:
n=5

for j in range (2,n-1):
    if (i==1 or i==n):
        print("*",end="")
    else: 
      print (" ",end="")
    print("*")

**
**

In [ ]:
N=5
for i in range(1,N+1):
  for j in range(i):
    print("*",end="")
  print()
for i in range(N):
  for k in range(n-i-1):
    print("*",end="")
  print()

*
**
***
****
*****
****
***
**
*

In [ ]:
"""0 0 0 0 5 0 0 0 0 
   0 0 0 4 8 12 0 0 0 
   0 0 3 6 9 12 15 0 0
   0 2 4 6 8 10 12 14 0
   1 2 3 4 5 6 7 8 9 """

'0 0 0 0 5 0 0 0 0 \n   0 0 0 4 8 12 0 0 0 \n   0 0 3 6 9 12 15 0 0\n   0 2 4 6 8 10 12 14 0\n   1 2 3 4 5 6 7 8 9 '

In [ ]:
# n=int(input())

n=5

for i in range(n):
  print("0\t"*(n-i-1), end="")
  for j in range(1,2*i+2):
    print((n-i)*j, end="\t")
  print("0\t"*(n-i-1), end=" ")
  print()

0	0	0	0	5	0	0	0	0
0	0	0	4	8	12	0	0	0
0	0	3	6	9	12	15	0	0
0	2	4	6	8	10	12	14	0
1	2	3	4	5	6	7	8	9

In [ ]:
n=5
for i in range(n):
  for j in range(n):
    if i==0 or j==n-1 or i==j:
      print("*", end="")
    else:
      print(" ", end="")
  print()

*****
 *  *
  * *
   **
    *

In [ ]:
n=5
for i in range(n):
  for j in range(n):
    if i==n-1 or j==0 or i==j:
      print("*", end="")
    else:
      print(" ", end="")
  print()

*
**
* *
*  *
*****

In [ ]:
#    0 0 0 0 1 0 0 0 0
#    0 0 0 2 3 2 0 0 0
#    0 0 3 4 5 4 3 0 0
#    0 4 5 6 7 6 5 4 0
#    5 6 7 8 9 8 7 6 5

In [ ]:
n=5
for i in range(n):
    print("0 "*(n-i-1), end="")
    for j in range(1, 2*i+2):
        print((n-i)*j, end="")
    print("0 "*(n-i-1), end=" ")
    print()

0 0 0 0 50 0 0 0
0 0 0 48120 0 0
0 0 36912150 0
0 24681012140
123456789

In [ ]:
n=5

for i in range(n):
  print("0 "*(n-i-1), end="")
  for j in range(1,2*i+2):
    print((n-i)*j, end="")
  print("0 "*(n-i-1), end="")
  print()

000050000
0004812000
00369121500
024681012140
123456789

In [ ]:

n=int(input())
for i in range(1,n+1):
  spaces = n-i # Print the zeros before the non-zeros start
  for j in range(1,spaces+1): # Print the non-zero pattern
    print("0 ",end="")
    lim=2*i - 1
    cnt = 1
  for j in range(1,lim+1):
    print((n-i+1) * cnt,end="")
    cnt+=1
    print(" ",end="")
  for j in range(1,spaces+1):
    print("0 ",end="")
  print()

5
0 0 0 0 5 0 0 0 0
0 0 0 4 8 12 0 0 0
0 0 3 6 9 12 15 0 0
0 2 4 6 8 10 12 14 0
8 9 10 11 12 13 14

TypeError: ignored