<a href="https://colab.research.google.com/github/dmish10/Scaler_Homework/blob/master/Practice_sessions_17th_oct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# practice questions
"""Question 1 = print multiplication table for teste cases inputs using for loop"""

In [ ]:
T= int(input())

for c in range(T):
  n=int(input())
  print("multiplication table of", n)
  for i in range(1,11):
    print(n*i, end=" ")
    i+=1

2
3
multiplication table of 3
3 6 9 12 15 18 21 24 27 30 4
multiplication table of 4
4 8 12 16 20 24 28 32 36 40

In [ ]:

"""Question 2 = print multiplication table for teste cases inputs using while loop"""

T= int(input())
t=1
while t<=T:
  n=int(input())
  print("multiplication table of", n)
  for i in range (1,11):
    print(n*i, end=" ")
    i+=1
  t+=1
  print()

2
3
multiplication table of 3
3 6 9 12 15 18 21 24 27 30
4
multiplication table of 4
4 8 12 16 20 24 28 32 36 40

In [ ]:
"""Question 3 = print multiplication table for teste cases inputs but ask the user if he wants to continue with the testcases. 
if YES then continue or else STOP"""

T= int(input())
t=1
while t<=T:
  n=int(input())
  print("multiplication table of", n)
  for i in range (1,11):
    print(n*i, end=" ")
    i+=1
  print()
  I= input("Do you want to continue? ")
  if I.lower()=="yes":
    t+=1
  else:
    break
  print()

2
3
multiplication table of 3
3 6 9 12 15 18 21 24 27 30
Do you want to continue? yEs

4
multiplication table of 4
4 8 12 16 20 24 28 32 36 40
Do you want to continue? Yes

In [ ]:
"""Question 4 = print multiplication table for teste cases inputs but ask the user if he wants to continue with the testcases. 
if YES then continue or else STOP"""

Cont= True
while Cont:
  n= int(input())
  print("Print multiplication table of ",n)
  for i in range(1,11):
    print(n*i, end=",")
  print()
  user_input=input("Do you wish to continue? ")
  if user_input.lower()=="yes":
    Cont= True
  else:
    Cont= False

2
Print multiplication table of  2
2,4,6,8,10,12,14,16,18,20,
Do you wish to continue? yes
4
Print multiplication table of  4
4,8,12,16,20,24,28,32,36,40,
Do you wish to continue? yes
5
Print multiplication table of  5
5,10,15,20,25,30,35,40,45,50,
Do you wish to continue? tyon

In [ ]:
from IPython.core.interactiveshell import import_item
"""Question 5- Mr. Q has a diary with different numbers. Calcultae the sum of all these numbers separately"""

T= int(input())
t=1
while t<=T:
  
  n=int(input())
  dig=0
  s=0
  
  while n!=0:
    dig=n%i
    s+=dig
    n=n//10
  print(s)
  t+=1

2
2345
14
3456
18

In [ ]:
cont= True

while cont:
  n=int(input())
  s=0
  
  while n>0:
    dig=n%10
    s=s+dig
    n=n//10
  print(s)
  print()
  user_input=input("Do you wish to continue? ")
  if user_input.lower()=="yes":
    cont= True
  else:  
    cont= False

12345
15

Do you wish to continue? yes
3456
18

Do you wish to continue? no

In [ ]:
""" Understanding Netsted Loops, Jump Statements"""
""" Pass and Continue """

for i in range (4): 
  if i==3:
    pass# empty statemnet in python, does nothing
  print(i)

0
1
2
3

In [ ]:

for i in range (5):
  if i==3:
    continue# it skips the particular iteration in the if statement and runs the rest.
  print(i)

0
1
2
4

In [ ]:
for i in range (5):
  if i==3:
    break# it break at the particular iteration in the if statement and ends the loop.
  print(i)

0
1
2

In [ ]:
"""Question 1- Write a loop to print 1,4,7,10,13,16"""

'Question 1- Write a loop to print 1,4,7,10,13,16'

In [ ]:

for i in range(1, 17,3):
  if i==16:
    print(i,end="")
  else: 
    print(i,end=",")

1,4,7,10,13,16

In [ ]:

"""Question 2- Write a loop to print the following numbers 1,3,7,13,21,31,43"""

'Question 2- Write a loop to print the following numbers 1,3,7,13,21,31,43'

In [ ]:
s=1
print(s, end=",")
for i in range(0,7):
  i*=2
  s=s+i
  
  if s==43 :
    print(s, end="")
  else:
    print(s, end=",")

1,1,3,7,13,21,31,43

In [ ]:

"""Question 2- Write a loop to print the following numbers 1,1,3,7,13,21,31,43 using while loop"""

'Question 2- Write a loop to print the following numbers 1,1,3,7,13,21,31,43 using while loop'

In [ ]:
num=1
i=0
while num<=43:
  print(num, end=",")
  num=num+i*2
  i+=1

1,1,3,7,13,21,31,43,

In [ ]:
""" question 3- write a program that continuously asks the user to input number. the program should stop only when the user keys in 5.
 the program should print the number everytime the input is provided. when input provided is 5, the program should print the total no. of inputs provided.
 Assume the user always provides an input"""

' question 3- write a program that continuously asks the user to input number. the program should stop only when the user keys in 5.\n the program should print the number everytime the input is provided. when input provided is 5, the program should print the total no. of inputs provided.\n Assume the user always provides an input'

In [ ]:

i=0

while True:
  N= int(input("enter the number= "))
  i=i+1
  if N==5:
    print("total inputs so far= ", i)
    break
print("you provided",i, "inputs")

enter the number= 2
enter the number= 4
enter the number= 6
enter the number= 7
enter the number= 9
enter the number= 5
total inputs so far=  6
you provided 6 inputs

In [ ]:
"""Question 4- print corresponding value using nested loops"""

for i in range(3):
  for j in range(3):
    print("i-->",i,",j-->",j)

i--> 0 ,j--> 0
i--> 0 ,j--> 1
i--> 0 ,j--> 2
i--> 1 ,j--> 0
i--> 1 ,j--> 1
i--> 1 ,j--> 2
i--> 2 ,j--> 0
i--> 2 ,j--> 1
i--> 2 ,j--> 2

In [ ]:
"""Question 5- write a program to print NXN matrix of "*"
input=3 
output = ***
         ***
         ***
         """

'Question 5- write a program to print NXN matrix of "*"\ninput=3 \noutput = ***\n         ***\n         ***\n         '

In [ ]:
n= int(input())

for i in range(1,n+1):
  print(n*"*")

3
***
***
***

In [ ]:
"""same question using nested loops"""

n= int(input())
for i in range(n):
  for j in range(n-1):
    print("*", end="")
  print("*")

3
***
***
***

In [ ]:
"""Question 6- Write the multiplication table till the input N"""

N= int(input())
for i in range (1, N+1):
  for j in range(1, 11):
    print(i,"*",j,"=",i*j, end=" ")
  print()

3
1 * 1 = 1 1 * 2 = 2 1 * 3 = 3 1 * 4 = 4 1 * 5 = 5 1 * 6 = 6 1 * 7 = 7 1 * 8 = 8 1 * 9 = 9 1 * 10 = 10
2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18 2 * 10 = 20
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27 3 * 10 = 30

In [ ]:
""" Question 7- Given two integers inputs, write a program to calculate GCD"""





n1= int(input())
n2= int(input())
Min= min(n1,n2)

for x in range(Min,0,-1):
  if n1%x==0 and n2%x==0:
    print(x)
    break

24
32
8

In [ ]:
""" Question 8- Given two numbers, find the LCM"""

n1= int(input())
n2= int(input())
Max= max(n1,n2)

for x in range(Max,(n1*n2)+1):
  if x%n1==0 and x%n2==0:
    print(x)
    break

5
16
80

In [ ]:
""" Question 8- Given two numbers, find the LCM using while loop"""
n1= int(input())
n2= int(input())
Max= max(n1,n2)

while True:
  if (Max%n1==0 and Max%n2==0):
    print(Max)
    break
  Max+=1

#this code took 135 steps to execute

5
16
80

In [ ]:
# this code is more effcient since takes only 16 steps while above takes 135 steps to execute. 
#here we add the max of the two numbers to X instead of increenting it by 1 each time. 
n1= int(input())
n2= int(input())
Max= max(n1,n2)
X=Max

while True:
  if (X%n1==0 and X%n2==0):
    print(X)
    break
  X+=Max

5
16
80

In [ ]:
""" Question 9- print the following pattern provided input is the number of rows to be printed
*
**
***
****
*****
"""

' Question 9- print the following pattern provided input is the number of rows to be printed\n*\n**\n***\n****\n*****\n'

In [ ]:
n= int(input())

for i in range(1,n+1):
  print("*" * i)

5
*
**
***
****
*****

In [ ]:
n= int(input())

for i in range(n):
  for j in range(i+1):
    print("*",end="")
  print()

5
*
**
***
****
*****

In [ ]:
# another way to solve abpve wuestion through nested loop 

n= int(input())

for i in range(n):
  for j in range(i+1):
    print("*", end="")
  print()

5
*
**
***
****
*****

In [ ]:
#Question 10- print no. of divisors for number n 

n= int(input())
divisor=1

for i in range(1,n+1//2):
  #divisor of a number can't be greater than the number/2.
  if n%i==0:
    divisor+=1
    print(i,end=",")
print()
print("total divisors=",divisor)

16
1,2,4,8,
total divisors= 5

In [ ]:
"""Below are serveral questions from assignment practice """

'Below are serveral questions from assignment practice '

In [ ]:

T= int(input())

t=1
while t<=T:
  s=1
  n= int(input())
  # while s<=len(str(n)):
  dig=0
  while n!=0:
    dig=n%10
    print(dig, end="")
    n=n//10
      
    # s+=1
  print()
  t+=1

2
105
501
102
201

In [ ]:
T=int(input())
t=1
while t<=T:
  N= int(input())
  rev=0
  while(N!=0):
    dig=N%10
    rev=rev*10+dig
    N=N//10
  print("Reverse of the number:",rev)
  print()
  t+=1

2
105
Reverse of the number: 501

100
Reverse of the number: 1

In [ ]:
n=int(input())
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
  print(temp)

101
101

In [ ]:
n=int(input("Enter number: "))
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
print("Reverse of the number:",rev)

Enter number: 105
Reverse of the number: 501

In [ ]:
T=int(input())
t=1
while t<=T:
  N= int(input())
  rev=0
  while(N!=0):
    dig=N%10
    rev=rev*10+dig
    N=N//10
  print(rev,end="")
  print()
  t+=1

2
105
501
100
1

In [ ]:
A = int(input())
count = 0
Asub = A
tens =1
while A!=0:
  A//=10
  count+=1
power = 1
while (power<count):
  tens*=10
  power+=1
T=0
while T<count:
  select = Asub//tens
  tens= tens/10
  rem = select%10
  if rem == 0:
    print('zero', end = " ")
  elif rem == 1:     
    print('one', end = " ")
  elif rem == 2:
    print('two', end = " ")
  elif rem == 3:
    print('three', end = " ")
  elif rem == 4:
    print('four', end = " ")
  elif rem == 5:
    print('five', end = " ")
  elif rem == 6:
    print('six', end = " ")
  elif rem == 7:
    print('seven', end = " ")
  elif rem == 8:
    print('eight', end = " ")
  elif rem == 9:
    print('nine', end = " ")
  T+=1

1234
one two three four

In [ ]:
for i in range(1):
    for j in range(2):
        for k in range(1):
            print("a", end=" ")
        print(end=" ")
    print("c")

a  a  c

In [ ]:
for i in range(1,5):
  for j in range(6-i,1,-1):
    print(i,end=' ')
    i+=1
  print()

1 2 3 4
2 3 4
3 4
4

In [ ]:

  for j in range(6,1,-1):
    for i in range(1,j-1):
      print(i, end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

In [ ]:

N=int(input())
for j in range(N+2,1,-1):
    for i in range(1,j-1):
        print(i, end=" ")
    print()

4
1 2 3 4
1 2 3
1 2
1

In [ ]:
N=int(input())
for j in range(N+2,1,-1):
    for i in range(1,j-1):
        print(i, end=" ")
    print()
    if j==N:
      print(N-j+1, end="")
      break

4
1 2 3 4
1 2 3
1 2
1

In [ ]:
N = int(input())

for i in range(1,N+2):
    for j in range(1, i+1):
        print(j, end="")
    print()

4
1
12
123
1234
12345

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows+1,0,-1):
    for j in range(1,i):
        print(j,end="")
        if j<i-1:
            print(" ",end="")
    print()

Enter number of rows: 4
1 2 3 4
1 2 3
1 2
1

In [ ]:
N = int(input())

for i in range(1,N+1):
    for j in range(1, i+1):
        print(j, end="")
        if j<i:
          print(" ", end="")
    print()

4
1
1 2
1 2 3
1 2 3 4

In [ ]:
n = int(input())

for i in range(1, n+1):

    for j in range(1, n-i+2):

        print(j, end="")

        if j<n-i+1:

          print(" ",end="") 

    print()

4
1 2 3 4
1 2 3
1 2
1

In [ ]:
N= int(input())

for i in range(1,N+1):
    for j in range(1,2):
        print("*")
    print("*  *"*j, end="")

5

*  *
*  *
*  *
*  *
*  *

In [ ]:
    # for i in range(1,6):
    #   for j in range(1,3):
    #     print("* ", end=" " )
    #     if j>i:
    #       print(" ",end="")
    #   print()


n = int(input())
for i in range(n):
    print("*" + " "*(n-2) + "*")

*  *
*  *
*  *
*  *
*  *

In [ ]:
"""Write a program to input two numbers(A & B) from user and print the maximum element among A & B in each line."""

'Write a program to input two numbers(A & B) from user and print the maximum element among A & B in each line.'

In [ ]:
A= int(input())
B= int(input())

if A>B:
  print(A)
else:
  print(B)

50
49
50

In [ ]:
"""Write a program that asks the user to input their age and tells them if they're old enough to ride a roller coaster. 
The minimum age to ride the roller coaster in this question is 13."""

Age= int(input("What's your Age= "))
if Age<13:
  print("You can't ride the roller coaster.")
else:
  print("Yes you can")

What's your Age= 34
Yes you can

In [ ]:
"""Write a program that takes in a number N as input and does the following:

if N is a multiple of 3, print Fizz
if N is a multiple of 5, print Buzz
if N is a multiple of both 3 and 5, print FizzBuzz"""

'Write a program that takes in a number N as input and does the following:\n\nif N is a multiple of 3, print Fizz\nif N is a multiple of 5, print Buzz\nif N is a multiple of both 3 and 5, print FizzBuzz'

In [ ]:
N= int(input())

if N%3==0 and N%5==0:
  print("FB")
elif N%3==0:
  print("F")
else:
  print("B")

5
B

In [ ]:
"""Write a program to input from user an integer(A) representing the rating of a person on a platform.

You have to print the category of that person.

If the rating is greater than or equal to 2100 then that person is "grand master".
If the rating is greater than or equal to 1900 then that person is "candidate master".
If the rating is greater than or equal to 1600 then that person is "expert".
If the rating is greater than or equal to 1400 then that person is "pupil".
If the rating is smaller than 1400 then that person is "newbie".
NOTE: Print all the chars of the category of the person in lowercase if rating is odd otherwise print in UPPERCASE"""

'Write a program to input from user an integer(A) representing the rating of a person on a platform.\n\nYou have to print the category of that person.\n\nIf the rating is greater than or equal to 2100 then that person is "grand master".\nIf the rating is greater than or equal to 1900 then that person is "candidate master".\nIf the rating is greater than or equal to 1600 then that person is "expert".\nIf the rating is greater than or equal to 1400 then that person is "pupil".\nIf the rating is smaller than 1400 then that person is "newbie".\nNOTE: Print all the chars of the category of the person in lowercase if rating is odd otherwise print in UPPERCASE'

In [ ]:
A=int(input())
rating=''
if A%2==0:
  if A<1400 :
    rating='newbie'
  elif A>=1400 and A<1600:
    rating='pupil'
  elif A>=1600 and A<1900:
    rating='expert'
  elif A>=1900 and A<2100:
    rating='candidate master'
  else:
    rating='grand master'
  print(rating.upper())
else:
  if A<1400 :
    rating='newbie'
  elif A>=1400 and A<1600:
    rating='pupil'
  elif A>=1600 and A<1900:
    rating='expert'
  elif A>=1900 and A<2100:
    rating='candidate master'
  else:
    rating='grand master'
  print(rating)

2102
GRAND MASTER

In [ ]:
"""Write a program to input an integer from user and print 1 if it is odd otherwise print 0."""

'Write a program to input an integer from user and print 1 if it is odd otherwise print 0.'

In [ ]:
A=int(input())

"""For a given number A, print its multiplication table having the first 10 multiples"""
i=1
while i<=10:
  print(A,"*",i, "is",i*A, end="")
  print()
  i+=1

17
17 * 1 is 17
17 * 2 is 34
17 * 3 is 51
17 * 4 is 68
17 * 5 is 85
17 * 6 is 102
17 * 7 is 119
17 * 8 is 136
17 * 9 is 153
17 * 10 is 170

In [ ]:
N=int(input())

while i==N:
  print(i**2, end=" ")
  i+=1

4

In [ ]:
"""Complete the following code snippet in order to find the exponent, i.e. the number of times base should be multiplied by itself to get num"""
num=16
base=4
cnt=0
while(num>1):
  num/=base
  
  cnt+=1
print(cnt)

4

In [ ]:
T=int(input())
t=1
while t<=T:
  s=0
  n=int(input())
  while n!=0:
    dig=n%10
    s=s+dig
    n=n//10
  print(s)
  t+=1

1
234
9

In [ ]:
x = 2
for i in range(0, 4):
    if x%2:
       x = x*2
       
    else:
       x = x+1
    if i<3:
      print(x, end=",")
    else:
      print(x, end="")

3,6,7,14

In [ ]:
c=0
for i in range(0, 10):
    if i%2:
        c=c+1
print(c)

1
2
3
4
5

In [ ]:
i=0
while i<=5:
     if i%2:
        pass
     else:
        print(i, end=" ")
     i+=1

0 2 4

In [ ]:
q=0
r=0

x=int(input())
y=int(input())

while x>=y:
    x-=y
    q+=1
print(q, x)

45
15
3 0

In [ ]:
A=int(input())
s=0
for i in range(3,A+1):
  if i%2!=0:
    print(i, end=",")
    s=s+i
print()
print(s)

9
3,5,7,9,
24

In [ ]:
"""Using a loop, Print the squares of the following numbers: 1, 3, 6, 10, 15, 21. Print each of the number in a new line."""
s=0
for i in range(1,22):
  s=s+i
  i+=1
  if s<21:
    print(s**2)
  elif s==21:
    print(s**2)
  else:
    break

1
9
36
100
225
441

In [ ]:
"""Given an integer A as input, you have to tell whether it is a prime number or not."""

A= int(input())
if A>1:
  for i in range (2, A):
    if A%i==0:
      print("this is not a prime")
      break
  else:
    print("prime")
else:
  print("not prime")

1
not prime

In [ ]:
A = int(input())
count = 0
Asub = A
tens =1
while A!=0:
  A//=10
  count+=1
power = 1
while (power<count):
  tens*=10
  power+=1
T=0
while T<count:
  select = Asub//tens
  tens= tens//10
  rem = select%10
  if rem == 0:
    print('zero', end = " ")
  elif rem == 1:     
    print('one', end = " ")
  elif rem == 2:
    print('two', end = " ")
  elif rem == 3:
    print('three', end = " ")
  elif rem == 4:
    print('four', end = " ")
  elif rem == 5:
    print('five', end = " ")
  elif rem == 6:
    print('six', end = " ")
  elif rem == 7:
    print('seven', end = " ")
  elif rem == 8:
    print('eight', end = " ")
  elif rem == 9:
    print('nine', end = " ")
  T+=1

236
two three six

In [ ]:
A = int(input())
dig = 0
Asub = A
tens =1
while A!=0:
  dig = 0
  c=0
  dig=A%10
  if dig ==1:
    c=c+1
    break
print(c)

KeyboardInterrupt: ignored

In [ ]:
x=1
ind1=True
ind2= False
if ind1:
  ind1=ind2
  ind2=ind1
  if ind2:
    x=x-1
  else:
    x=x/1
print(x)

1.0

In [ ]:
isTrue=0
if bool(isTrue):
  print("if")
else:
  print("else")

else

In [ ]:
x= int(input())
y= int(input())

flag= True
for i in range(2,x):
  if (x%y)==0:
    if(y%x)==0:
      flag=False
print(flag)

1
11
True

In [ ]:
N= int(input())
i=1
while(i<=N):
  if N%i==0:
    print(i)
  i+=1

5
1
5

In [ ]:
N= int(input())
if N>1:
  for i in range(2,N):

    while N%i!=0:
      print()
      break

7
5
4
3
2
1

In [ ]:
N= int(input())
n=1

while n<=N:
    A= int(input())
    sum=0
    for i in range(1,A):
        if A%i==0:
            sum+=i
            
    if sum==A:
        print("YES")
    else:
        print("NO")
    n+=1

In [ ]:
def perfect(A):

    sum=0
    for i in range(1,A):
        if A%i==0:
          sum+=i
    if sum==A:
      return True
A= int(input()) 
for i in range(1,A):
  if perfect(i):
    print(i)

In [ ]:
n=int(input())
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
print(rev)
if(temp==rev):
    print("yes")
else:
    print("No")

1234
4321
No

In [ ]:
T=int(input())
t=1
while t<=T:
  rev=0
  n= int(input())
  while n>0:
    dig=n%10
    rev=rev*10+dig
    n=n//10
  print(rev)
  t+=1

2
1234
4321
2345
5432

In [ ]:
T= int(input())

t=1
while t<=T:
    A= int(input())
    B= int(input())
    Max=max(A,B)
    X=Max
    while True:
        if(X%A==0 and X%B==0):
            print(X)
            break
        X+=Max
    t+=1

1
23
34
782

In [ ]:
T=int(input())
   
t=1    
while t<=T :
    A=int(input())
    B=int(input())
    x=min(A,B)
    for i in range(x,0,-1):
        if A%i==0 and B%i==0:
            print(i)
            break
    t+=1

1
23
32
1

In [ ]:
T=int(input())
t=1
while t<=T:
  rev=0
  n= int(input())
  while n>0:
    dig=n%10