<a href="https://colab.research.google.com/github/dmish10/Scaler_Homework/blob/master/Practice_8th_Nov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Given a sorted integer array A, and an integer B. Find the first and last index of B in A.
#It is guaranteed that B exists in A. Return an array C of size 2, where C[0] is the first index of B in A and C[1] is the last index of B in A.

In [ ]:
A = [-2, -2, 4, 4, 8, 9]
B = 4

In [ ]:
def sorted(A):
  C=[]
  X=[]
  for i in range(len(A)):
    first=0
    last=0
    if A[i]== B:
      X.append(i)
  first+= X[0]
  last+= X[len(X)-1]
  C= [first] + [last]
  return C

In [ ]:
sorted(A)

[2, 3]

In [ ]:
#Given a sorted integer array A and an integer B. Find the ceil and floor of B in the array A.
# - Ceil of an integer X in the array is an element which is just greater than or equal to X.
# - Floor of an integer X in the array is an element which is just smaller than or equal to X.
# Return an array of size 2. The first element of the array will be ceil of B and the second element will be the floor.

In [ ]:
A = [-2, 4, 8, 9]
B = 0
# A = [1, 9, 21]
# B = 9

In [ ]:
def ceil_floor(A,B):
  C=[0]*2
  for i in A:
    if i<=B:
      C[1]= i
    if i>=B:
      C[0]= i
      break
  return C

ceil_floor(A,B)

[4, -2]

In [ ]:
# Given an integer array A, find the inverse of the array A and return it.

In [ ]:
 A = [2, 0, 1]


def inverse1(A):
  C=[]
  # for i in range(len(A)):
  last= A.pop()
  remaining= A
  C= [last]+ remaining
  return C

inverse1(A)

[2, 3, 1, 0]

In [ ]:
# Given an integer array A, find the inverse of the array A and return it. 
# All the elements of the given array are distinct and elements of the array lie in the range [0, |A|).
# The inverse of the array means the array elements are swapped with their corresponding indices.
# For example, Let's say we have an array A = [2, 0, 1], the inverse of A would be [1, 2, 0].

In [ ]:
A = [3, 1, 0, 2]

def swap_value_for_index(A):
  C=[0]*len(A)
  for i in range(len(A)):
    C[A[i]]=i
  return C
swap_value_for_index(A)

[2, 1, 3, 0]

In [ ]:
list1=[2,12,45,6,8,32,17]
if (6 in list1):
  print('Element exists')

Element exists

In [ ]:
e_count = list1.count(6) 
if e_count > 0:
  print("Yes, 6 exists in list")
else:
  print("No, 6 does not exists in list")

Yes, 6 exists in list

In [ ]:
# Given an array A, check if it is sorted in non decreasing order or not.

In [ ]:
A = [2,3,4]

In [ ]:
def sortie(A):
  minimum= A[0]
  for i in A:
    if i>= minimum:
      minimum= i     
    else:
      return 0
  return 1
 

sortie(A)

1

In [ ]:
A=[1, 2, 3]
A[:-1]

[1, 2]

In [ ]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Modify the value of variable w, x, y and z such that the program outputs [8, 6, 4]

In [ ]:
first_slice=lst[::-2]
first_slice

[10, 8, 6, 4, 2]

In [ ]:
second_slice=first_slice[:4]
second_slice

[10, 8, 6, 4]

In [ ]:
third_slice=second_slice[1:]
third_slice

[8, 6, 4]

In [ ]:
last_slice = third_slice[::1]
last_slice

[8, 6, 4]

In [ ]:
#You are given an integer array A. You have to find the second largest element/value in the array or report that no such element exists.

In [ ]:
A = [2, 1, 2]

In [ ]:
def second_largest(A):

        n = len(A)

        A.sort(reverse=True)

        c = A.count(A[0])

        if n <2:

            return -1

        else:

            return A[c]

In [ ]:
second_largest(A)

TypeError: ignored

In [ ]:
A = [2, 1, 2]
# n=len(A)
A.sort(reverse=True)

value=max(A)
c = A.count(value)

# if n <2:
#   print(-1)
# else:
print(A[c])

1

In [ ]:
# You are given a matrix A and and an integer B, you have to perform scalar multiplication of matrix A with an integer B

A = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
B = 2
def multi(A,B):
  C=[]
  for i in range(len(A)):
    result=[]
    for j in range(len(A[0])):
      result.append(A[i][j])*B
    C.append(result)
  return C

In [ ]:
multi(A,B)

TypeError: ignored

In [ ]:
#You are given a 2D integer matrix A, return a 1D integer array containing row-wise sums of original matrix.

In [ ]:
A= [[1,2,3,4],[5,6,7,8],[9,2,3,4]]
def matri(A,B):
  row = len(A)
  col = len(A[0])
  for i in range(row):
    row_sum=0
    for j in range(col):
      row_sum+= A[i][j]
    # print("sum for each row=",row_sum)
    C.append(row_sum)
  return C

In [ ]:

def main(A,B):
    x=B
    y=A/100
    BMI = x/(y*y)
        # BMI = B/((A/100)**2)
    if(BMI<18.5):
        print("Underweight")
    elif(BMI>=18.5 and BMI<=24.9):
        print("Normal weight")
    elif (BMI>24.9 and BMI<=29.9):
        print("Overweight")
       
    else:
        print("Obese")
    return int(BMI*10+0.5)/10

In [ ]:
main(129,31)

Normal weight

18.6

In [ ]:
N= int(input())
for i in range(N):
  print("0 "*(N-i-1), end="")
  for j in range(1,2*i+2):
    print((N-i)*j, end=" ")
  print("0 "*(N-i-1), end=" ")
  print()

5
0 0 0 0 5 0 0 0 0
0 0 0 4 8 12 0 0 0
0 0 3 6 9 12 15 0 0
0 2 4 6 8 10 12 14 0
1 2 3 4 5 6 7 8 9

In [ ]:
def duplicate(A):
    
    ''' input:ls-List of elements and n-indicates the length of list
         output:Return ans as True or False'''
    A.sort(reverse=True)
    for i in range(len(A)+1):
        if A[i]==A[i+1]:
            return True
        else:
            return False

In [ ]:
# A=[4,1,4, 2, 3, 3]
A=[4,3,2,1]
duplicate(A)

False

In [ ]:

def first_multiple(ls,x):
    ans=-1
    ''' input:ls-List of elements and x-indicates the integer
         output:Return ans from the list that is divisible by x'''
    # ls.sort(reverse=False)
    for i in range(1,len(ls)+1):
        if ls[i]/x == 1:
            ans = ls[i]
            return ans
    else:
      return ans

In [ ]:
A=[2,1,2,4,3,5]
x=4

first_multiple(A,x)

4

In [ ]:
#how can we detect the duplicates in lists without using any function(an assignment question)

In [ ]:
#mehtod 1- using sets

a= [1,2,34,4,5,4,4,5,3,2,1,34]
b= set(a)
b

{1, 2, 3, 4, 5, 34}

In [ ]:
def check(a):
  a.sort(reverse=False)
  for i in range(0,len(a)+1):
    if a[i]== a[i+1]:
      return set(a)
    else:
      return False

check(a)

{1, 2, 3, 4, 5, 34}

In [ ]:
def check(a):
  unique=[]
  for i in a:
    if i not in unique:
      unique.append(i)
    #to check if duplicate list 
  print(unique)
  if len(unique)== len(a):
    return False
  else:
    return True

check(a)

[1, 2, 34, 4, 5, 3]

True

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    n = int(input())

    if n <= 1:
      print('NO')

    elif n >= 2:
      for i in range(2, n):
        if n % i == 0:
          print('NO')
          break

      else:
        print('YES')

if __name__ == '__main__':
    main()

13
YES

In [ ]:
#full pyramid

n=int(input())

for i in range(1,n+1):
  for j in range(1,n-i+1):
    print(" ",end="")
  for j in range(1,i+1):
    print("*",end=" ")
  print()

5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
a=[1,2,34,4,5,4,4,5,6,3,2,1,34,34]

In [ ]:
#print the largest in a list

def largest(a):
  max_element=a[0]
  for i in a:
    if i > max_element:
      max_element=i
  return max_element

largest(a)

34

In [ ]:
#for second largest

In [ ]:
def sec_largest(a):
  if len(a)>1:
    a.sort(reverse=False)
    max_element= a[0]
    second_maximum=0
    for i in a:
      if i>max_element:
        second_maximum=max_element
        max_element=i
    return second_maximum
  else:
    return a[0]
sec_largest([1,2,34,4,5,4,4,5,6,3,2,1,34,34]) 
# sec_largest([1]) 
# sec_largest([1,3])

1

In [ ]:
def sec(a):
  if len(a)>1:
    # a.sort(reverse=False)
    max_element= a[0]
    second_maximum=0
    for i in a:
      if i>max_element:
        second_maximum=max_element
        max_element=i
      if i >second_maximum and i<max_element:
        second_maximum =i
    return second_maximum
  else:
    return a[0]
sec([2,1,2])

1

In [ ]:
def inverse(a):
    n=len(a)
    inverse=[0]*n
    for i in range(len(a)):
        inverse[a[i]]=i
    return inverse
    
inverse([3,1,0,2])

TypeError: ignored

In [ ]:
#ceil and floor for a number
def ceil(N):
  floor = N//1
  if N-floor==0.0:
    ceil= floor 
  else:
    ceil= floor + 1
  return ceil

ceil(65.87)

66.0

In [ ]:
#if two matrices are equal
a=[[1,2],[3,4]]
b=[[1,2],[3,4]]
def equal(a,b):
  for i in range(len(a)):
    for j in range(len(a[0])):
      if a[i][j]!=b[i][j]:
        return False
  return True
equal(a,b)

True

In [ ]:
#Transpose a matrix ..traverse through the columns and then rows
a=[[1,2,3],[3,4,5]]

In [ ]:
def transpose_matrix(a):
  transpose =[]
  for i in range(len(a[0])):
    row= []
    for j in range(len(a)):
      row.append(a[j][i])
    transpose.append(row)
  return transpose

transpose_matrix(a)

[[1, 3], [2, 4], [3, 5]]

In [ ]:
n= 5
subtract = 1
for i in range(5):
  print("0\t"* (n-i-1), end="")
  for j in range(0, 2*i+subtract):
    print(i+j+1, end="\t")
  for k in range(i):
    print((2*i)-k, end="\t")
  subtract-=1
  print("0\t"*(n-i-1), end="\n")

0	0	0	0	1	0	0	0	0
0	0	0	2	3	2	0	0	0
0	0	3	4	5	4	3	0	0
0	4	5	6	7	6	5	4	0
5	6	7	8	9	8	7	6	5

In [ ]:
Ascii_1= 100
Ascii_2 =32
char1= chr(100)
char2=chr(32)
char1

'd'

In [ ]:
ord("A")

65

In [ ]:
a= "dfjhlhorhndFfjjj"
b=""
for i in a:
  b= a.replace(char1,char2)
print(b)

 fjhlhorhn Ffjjj

In [ ]:
#Write a program to input an integer T and then each of T lines will have 2 strings (A and B).
#You have to concatenate two strings and print T lines each containing concatenated string.
#First line is T which means number of test cases.Each next T lines contain two strings A and B
#T lines each containing concatenated string. input as below-
#3
# sc scaler
# ler scalem
# scaler scale
# output as here - scscaler
#                  lerscalem
#                  scalerscale

In [ ]:

output = []
T= int(input())
while T!=0:
  input = input()
  i= input.split(" ")[:]
  concat_words= "".join(i)
  output.append(concat_words)
  T+=1

TypeError: ignored

In [ ]:

T = int(input())
output = []
for j in range(T+1):
  line= input()
# concat_words= "".join(line.split(" ")[:])
  i= line.split(" ")[:]
  concat_words= "".join(i)
  print(concat_words)
  output.append(concat_words)
  print(output)

TypeError: ignored

In [ ]:
N= int(input())
output= []
for i in range(N):
  line = input()
  i= line.split(" ")[:]
  concat_words= "".join(i)
  output.append(concat_words)
  
for word in output:
  print(word)

TypeError: ignored

In [ ]:
def sum1(A):
  sum1= 0
  for i in range(1,A+1):
    if i%2==0:
      sum1= sum1 + i
  print(sum1)
sum1(5)

6

In [ ]:
def odd(A):
    # A= int(input())
    s=0
    for i in range(1,A+1):
        if not(i%2 == 0):
            s+= i
    print(s)
odd(4)

4

In [ ]:

p =1
for i in range(4,0,-1):
  p*= i
print(p)

24

In [ ]:
def exp(A,B):
  p= A**B
  print(p)
exp(2,2)

4

In [ ]:
N=4
for i in range(N):
  for j in range(i+1):
    print("*", end="")
  print()

*
**
***
****

In [ ]:
def triangle(N):
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    N= int(input())
    order= ord("A")
    for i in range(N):
        for j in range(i+1):
            print(order, end="")
            order+=1
        print()
triangle(5)

TypeError: ignored

In [ ]:
N=6 
for i in range(1,N+1):
    if i==1:
        for j in range(N):
            print("*", end="")
    elif i==N: 
        print("*", end="")
    else:
        print("*", end="")
        for k in range(N-i-1):
            print(" ", end="")
        print("*", end="")
    print()

******
*   *
*  *
* *
**
*

In [ ]:
def prime(n):
    
    if n==0 and n==1:
        return False
    for i in range(2,n+1):
        if i<n:
            if n%i==0:
                return False
    else:
        return True

n= int(input())
for i in range(2,n+1):
    if (prime(i)):
        if i in range(2,n):
            print(i, end =",")
        else:
            print(i, end ="")

13
2,3,5,7,11,13

In [ ]:
def prime(n):
  ans= True
  if n>1:
    for i in range(2,n):
      if n%i==0:
        ans="Not Prime"
  return ans

prime(5)

True

In [ ]:
def prime1(n):
    
    if n==0 and n==1:
        return False
    for i in range(2,n):
        # if i<n:
        if n%i==0:
            return False
    else:
        return True
prime1(13)

True

In [ ]:

T=int(input())
# while T>=1:
for i in range(T):
  S= input()
  S=S.lower()
       
  vowel=0
  const=0
  for i in S:
    if (i=='a' or i=='e' or i=='o' or i=='u' or i=='i'):
      vowel+=1
    elif (i!='a' or i!='e' or i!='o' or i!='u' or i!='i'):
      const+=1
    
  print(vowel,const)
  # T-=1

1
interview
4 5

1

UnboundLocalError: ignored

In [ ]:
T = int(input())
vow = 'aeiou
for _ in range(T):
	vc = cc = 0
	S = input()
	for s in S:
		if s in vow:
			vc+=1
		else:
			cc+=1    
	print(vc,cc)

In [ ]:
def maxi_mini(lst):
    T= int(input())
    lst=[]
    for i in range(T):
        value=int(input())
        lst.append(value)
        
    mx= lst[0]
    mn= lst[0]
    for i in lst:
        if i>= mx:
            mx=i

    for j in lst:
        if i<= mn:
            mn= i

    print(mx,mn)

In [ ]:
maxi_mini(lst)

NameError: ignored