<a href="https://colab.research.google.com/github/dmish10/Scaler_Homework/blob/master/Python_Refresher_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1.4+1.6+1.2

4.2

In [ ]:
_

10

In [ ]:
6+5

11

In [ ]:
_+7

17

In [ ]:
_+=27

In [ ]:
#normally underscore holds the most current value/of previous expression run in jupyter or python program but only if it's not explictly assigned to a particular value .
# In case it has already been assigned a value, it will hold that throughout; here it is _= 10. _ will lose the behavior where it updates to the most current value 
#in python and holds it.

In [ ]:
_ #it added 27 to 10

37

In [ ]:
a= 5
a

5

In [ ]:
a=6
a

6

In [ ]:
#but since int is immutable, the second value of 6 gets updated and stored at a new memory address other than where 5 is stored. So in a way, 
#the bond between the value stored in variable a and the address is broken, the orginal variable at a particular memory address retains its assigned value

In [ ]:
a=10

In [ ]:
b= 10

In [ ]:
id(a)  #special function that returns the memory location

11126976

In [ ]:
id(b)

11126976

In [ ]:
if id(a)==id(b):
  print(True)

True

In [ ]:
# Memeory Optimization technique allows python to point different variables holding same values to the same unqiue memory address.
#deletion of memory happens internally and the memory is reassigned automtaically whenever the program is again in use

In [ ]:
a= "random"
b="random"

In [ ]:
if id(a)==id(b):  #the varaibles with same string value point to same memory address
  print(True)

True

In [ ]:
# similarly, only few datatypes are iterative in Python and others not. Like, we can iterate, lists, tuples, sets, strings but can't iterate Integer.

In [ ]:
a= (1,2,3,4)
for i in a:
  print(i)

1
2
3
4

In [ ]:
a=[1,2,3,4]
for i in a:
  print(i)

1
2
3
4

In [ ]:
a= "string"
for i in a:
  print(i)

s
t
r
i
n
g

In [ ]:
a=45        #'int' object is not iterable
for i in a:
  print(i)

TypeError: ignored

In [ ]:
#without using for loop, iterate over a given list

In [ ]:
a=[1,2,3,4,5]
counter=0

print(a[counter])
counter+=1
#it's not possible to iterate over a list without the loop.

1

In [ ]:
# Use iterate function to iterate over the list instead of loop

In [ ]:
a= "python"

In [ ]:
it= iter(a) #passing an iterable to iter function gives an iterator

In [ ]:
it

In [ ]:
next(it) #everytime you pass the iterator through the next function, it will give the value for iterable one by one until the iterable ends

'y'

In [ ]:
#use iter function for tuple 
a=(1,2)
it= iter(a)

In [ ]:
next(it)

2

In [ ]:
# to prove the lists are mutable 

a=[1,2,3,4,5]

In [ ]:
id(a)

139974372033472

In [ ]:
a[0]=15 #tuples won't allow the value/element to update

In [ ]:
a

[15, 2, 3, 4, 5]

In [ ]:
id(a)

139974372033472

In [ ]:
#the bond between the variable and value is broken and updated to new value but since all these values are stored in the same moemory address. 
#the id remains same

In [ ]:
id(a[0]) #the list is assigned to aprticular address other than where the elements independently reside

11127136

In [ ]:
#create tic tac toe

In [ ]:
board= [[" "]*3]*3

In [ ]:
board

[[' ', ' ', ' '], [' ', ' ', ' '], [' ', ' ', ' ']]

In [ ]:
board[1][1] ='0'

In [ ]:
board

[[' ', '0', ' '], [' ', '0', ' '], [' ', '0', ' ']]

In [ ]:
id(board)

139974371584272

In [ ]:
id(board[1][1])

139974945843632

In [ ]:
id(board[0][0])

139974945650928

In [ ]:
id(board[0])

139974371584192

In [ ]:
a= 9
if (a%2!=0):
      print("TRUE")

TRUE

In [ ]:
def no_of_days(n):
   '''n => it's the month index.
   output => an integer for number of days in month at index n is expected.'''
   ans = None
   if n in [1,3,5,8,10,12]:
      ans = 31
   elif n in [4,6,9,11]:
      ans = 30
   elif n in [2]:
      ans = 28
   return ans
no_of_days(11)

30

In [ ]:
if False:                                       #1
    print("Artificial Intelligence")
elif True:                                      #2
    print("Machine Learning")
elif True:                                      #3
    print("Data Science")
else:                                           #4
    print("Deep Learning")

Machine Learning

In [ ]:
y = 100 \
# + 20 \
+ 20 
x = 200
print(x, end=" ")
print(y)

200 100

In [ ]:
x = 2
if x==2:
    x = 3
x = 4
# else:
#     x = 5
# print(x)