<a href="https://colab.research.google.com/github/dmish10/Scaler_Homework/blob/master/Tuples_%26_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=(1,2,3,4,5,6,7,8,9,10)

In [ ]:
type(a)

tuple

In [ ]:
a[6] #o based indexing

7

In [ ]:
a[2:9]   #list slicing

(3, 4, 5, 6, 7, 8, 9)

In [ ]:
a[-2] #negative slicing

9

In [ ]:
for i in a:
  if i< len(a):
    print(i, end=",")
  else:
    print(i, end="")

1,2,3,4,5,6,7,8,9,10

In [ ]:
a =() #empty tuple

In [ ]:
a= (45)  #if a single integer value stored in a tuple then the paranthesis would be considered as an opearator and the type return 'int' as type.
#This tuple will be treated as a mathemetical expression
type(a)

int

In [ ]:
# a list can be converted to a tuple, so typecasting between a list and tuple is allowed.
c=[1,2,3,4,5]
d=tuple(c)
d

(1, 2, 3, 4, 5)

In [ ]:
l= list(d)
l
type(l)

list

In [ ]:
l1=(1,2,3) # tuple support concatenation without changing the original structure of the individual tuples
l2=(4,5,6)
l3=l1+l2

In [ ]:
l3

(1, 2, 3, 4, 5, 6)

In [ ]:
"""Question 1-
what will be the output of - (4) + (1,2,3)"""

'Question 1-\nwhat will be the output of - (4) + (1,2,3)'

In [ ]:
L= (4) + (1,2,3). # will throw an error since 4 is of integer type and can't be added to a tuple so add a comma after 4 to convert it in tuple

TypeError: ignored

In [ ]:
L= (4,) + (1,2,3)
L

(4, 1, 2, 3)

In [ ]:
""" Question 2 - what will be the output of  f= ("random")"""
#similarly , f= ("random") will return the type as string and when we add the comma next to the string, it becomes a tuple.
f= ("random")
type(f)

str

In [ ]:
f= ("random",)
type(f)

tuple

In [ ]:
string_name = "abc"
a=''
# # Iterate over index
# for element in range(0, len(string_name)):
#     print(string_name[element])

for element in string_name:
    print(element, end=' ')
# print("\n")

a b c

In [ ]:
'''Question 3 --  Given an input string, write a code to generate a list of all its characters.
INPUT- 'abc' 
OUTPUT - ['a','b','c'] '''

"Question 3 --  Given an input string, write a code to generate a list of all its characters.\nINPUT- 'abc' \nOUTPUT - ['a','b','c'] "

In [ ]:
def convert_to_list(string_name):
  result =[]
  for i in string_name:
    result.append(i)
  return result
convert_to_list(string_name)

['a', 'b', 'c']

In [ ]:
#alternate way to do the above conversion is simply convert tuple to list. typecast it.
string_name= "Diva"
list(string_name)

['D', 'i', 'v', 'a']

In [ ]:
#above idea works in type casting the string as tuple as well
string_name= "Dee"
tuple(string_name)

('D', 'e', 'e')

In [ ]:
#but if the above tuple is stored in someplace and converted or type casted back to string, it won't work. the reverse is not possible here.
string_name= "Scaler"
b=tuple(string_name)
str(b) #tuple can't revrse typecasted to string. It simply converts the entire tuple into a string

"('S', 'c', 'a', 'l', 'e', 'r')"

In [ ]:
#PACKING AND UNPACKING

In [ ]:
a=(1,2,3)

In [ ]:
x,y,z =a

In [ ]:
x

1

In [ ]:
y

2

In [ ]:
z

3

In [ ]:
# similar to positional argument, value gets assigned to each variable. This is called Unpacking

In [ ]:
w,x,y,z = 1,2,3,4 #equal variable for each value with one on one mapping/assignment essential for unpacking

In [ ]:
w

1

In [ ]:
z

4

In [ ]:
a , b = ("random", "strings") # out here  ("random", "strings") is a tuple but after unpacking and variable assignment,
# the datatype for individual variable changes to string

In [ ]:
type(a)

str

In [ ]:
type(b)

str

In [ ]:
def packing():
  return 100, 200, 300 #return multiple values from a function

In [ ]:
c=packing() # here's where we packed the values into a tuple; python returns the values in the form of tuples
c

(100, 200, 300)

In [ ]:
# we can do packing and unpacking together using below method

x, y, z= packing()

In [ ]:
x

100

In [ ]:
y

200

In [ ]:
z

300

In [ ]:
# here's a list of tuples

a =[(1,"bipin"),(2,"goku"),(3,"shivi")]

In [ ]:
for i in a:
  print(i, end=" , ")

(1, 'bipin') , (2, 'goku') , (3, 'shivi') ,

In [ ]:
#unpacking every iterated element that also happens to be a tuple here
for roll_no, name in a:
  print(f"My roll number is {roll_no} and name is {name}")

My roll number is 1 and name is bipin
My roll number is 2 and name is goku
My roll number is 3 and name is shivi

In [ ]:
#unpacking every iterated element that also happens to be a tuple using index
for i in a:
  print(f"My roll number is {i[0]} and name is {i[1]}")

My roll number is 1 and name is bipin
My roll number is 2 and name is goku
My roll number is 3 and name is shivi

In [ ]:
'''Question 4- Write a code to swap two variable values using a third variable'''

'Question 4- Write a code to swap two variable values using a third variable'

In [ ]:
a= 5
b=4

In [ ]:
temp=a
a=b
b=temp

In [ ]:
a

4

In [ ]:
b

5

In [ ]:
#mathemetical way of solving above question without using the third variable
b=a+b
a= b-a
b= b-a

In [ ]:
a

5

In [ ]:
b

4

In [ ]:
#python way of solving or swapping values in varaibles without third variable is shared below

a, b = b, a

In [ ]:
a

4

In [ ]:
b

5

In [ ]:
'''Question 5 - what will be the output of the following-
 a=1,2,3,4,5 '''

'Question 5 - what will be the output of the following-\n a=1,2,3,4,5 '

In [ ]:
a= 1,2,3,4,5

In [ ]:
a # packing happens into a tuple if input is given as above so paraanthesis is not even required while packing elements in python

(1, 2, 3, 4, 5)

In [ ]:
#tuples are heterogenous
a=("str", 76.54, 1,2,True)
a

('str', 76.54, 1, 2, True)

In [ ]:
                                 # SETS - is a collection of unqiue/distinct elements

In [ ]:
a={1,2,2,4,2,4,6,4,22,13}

In [ ]:
a # only stores the distinct elements in a set but not necessarily in a sorted manner since the sorting is not consistent in all versions of python

{1, 2, 4, 6, 13, 22}

In [ ]:
# Indexing is not avaiable in the python set. set object is not subscriptable. indexing not allowed in tuples and sets as both have no deifned order

In [ ]:
#an empty set like below would always have a dictionary as type
a={}
type(a)

dict

In [ ]:
a= set() #this is how one creates empty set in python
type(a)

set

In [ ]:
a={1,2,3}

In [ ]:
a.add(6)
a

{1, 2, 3, 6}

In [ ]:
a.remove(3)
a

{1, 2, 6}

In [ ]:
a.add(1) #this will not change the set as it can't add duplicate values to the set
a

{1, 2, 6}

In [ ]:
a.update([1,2,3,4,5,6]) #we can add multiple elements to the set using lists, tuples via update method  
a

{1, 2, 3, 4, 5, 6}

In [ ]:
'''Question6- take a string as input and print the number of unique characters present in that string'''

'Question6- take a string as input and print the number of unique characters present in that string'

In [ ]:
a="aabbcdefeg"
a=set(a)
n=len(a)
n

7

In [ ]:
a="this is a raondom string!"
len(set(a))

13

In [ ]:
a = "123344555566789"

In [ ]:
set(a)

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [ ]:
len(set(a))

9

In [ ]:
# SET OPERATIONS

In [ ]:
s1= {1,2,4,5,6}
s2= {2,3,4}

In [ ]:
s1.intersection(s2)

{2, 4}

In [ ]:
s1 & s2

{2, 4}

In [ ]:
# both above are used to represent intersection between s1 and s2

In [ ]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [ ]:
s1|s2

{1, 2, 3, 4, 5, 6}

In [ ]:
#both above are used to represent union

In [ ]:
s1.difference(s2)

{1, 5, 6}

In [ ]:
s1-s2

{1, 5, 6}

In [ ]:
#this is used for set difference that is, s1-s2

In [ ]:
s1.symmetric_difference(s2)

{1, 3, 5, 6}

In [ ]:
s1 ^ s2

{1, 3, 5, 6}

In [ ]:
#both above - symmetric difference and power operator are used for symmetric difference.

In [ ]:
#practice assignment questions

In [ ]:
# Write a function to search for a given element elem in the tuple tup and return its index. Return -1 if elem is not present in tup.
''' input:elem-indicates the element in the tuple,tup-indicates the tupleoutput:Return the index of the element.'''
def get_index(tup, elem):
  for i in range(len(tup)):
    if tup[i]==elem:
      return i
  else:
    return -1
get_index((10, 20, 30, 40, 50), 30)

2

In [ ]:
#Write a program to divide a given tuple into two tuples that contain even and odd indexed elements of the original tuple.
# Print both these tuples in the given output format.
#Print two tuples one for odd indexed elements and another for even indexed elements in the following format:
# Odd: (....)
# Even: (....)
def odd_even_split_tuple(tup):
    ''' input:tup-indicates the tuple
         output:print two tuples one for even indexed and odd indexed in the given output format'''
    even=tuple()
    odd=tuple()
    n=len(tup)
    for i in range(n):
      if (i+1)%2==0:
        even+=(tup[i],) 
      else:
        odd+=(tup[i],)
    print(f"odd:{odd}")
    print(f"even:{even}")
odd_even_split_tuple((10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2))

odd:(10, 5, 10, 10, 5, 8)
even:(8, 2, 15, 8, 8, 2)

In [ ]:
elements = (10, 20, 30, 40, 50, 60, 70, 80)
print(elements[2:5], elements[:4], elements[3:100])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)

In [ ]:
name_lst = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_lst)
name_lst.append("Vishal")
print(tup)

('Item_1', 0.5, ['Vijay', 'Vickey', 'Vishal'])

In [ ]:
# Write a function to print out the frequency of all the unique elements present in a given tuple

def unique_count(tup):
    ''' input:tup-indicates the tuple
         output:Print the unique elements and their frequency'''
    
    index=0
    for element in tup:
        if tup.index(element)== index:
            print(f"{element} : {tup.count(element)}")
        index+=1

In [ ]:
unique_count((10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2))

10 : 3
8 : 4
5 : 2
2 : 2
15 : 1

In [ ]:
#+ is not a valid operation in sets, hence it throws an error.
set1 = {1, 2, 4}
set2 = {4, 5, 6}
print(len(set1 + set2))

TypeError: ignored

In [ ]:
sets = {3, 4, 5} 
sets.update([1, 2, 3])
sets

{1, 2, 3, 4, 5}

In [ ]:
sets1 = {3, 4, 5} 
sets1 = sets1.union({1, 2, 3})
sets1

{1, 2, 3, 4, 5}

In [ ]:
 s =set(['Scaler', 'Academy', 'is', 'Awesome'])

In [ ]:
def set_operation(sent1,sent2):
  sent1 = set(sent1.split(" "))
  print(sent1)
  n1=len(sent1)
  sent2 = set(sent2.split(" "))
  print(sent2)
  n2=len(sent2)
  return n1+n2

    
  
set_operation("in data analysis we use data and process it further to create better interpreted data","more and more data will be passively collected")

{'further', 'interpreted', 'it', 'analysis', 'better', 'data', 'use', 'process', 'to', 'create', 'in', 'we', 'and'}
{'more', 'data', 'be', 'passively', 'collected', 'and', 'will'}

20